{##
 # This template helps draw the fields that are to be displayed on the newticket page based on the layout
 # defined from the admin interfacer.
 #
 # You generally don't want to edit this template directly because it contains logic for wrapper elements.
 #
 # If you want to modify the appearance of fields, edit one of the field-*.html.twig
 # templates instead.
 ##}
{% for item in all_items %}

{% if item.field_type == 'department' %}
	<div data-field-id="ticket_department" class="ticket-display-field {{ item.id }}" {% if item.id not in page_data_field_ids %}style="display: none"{% endif %}>
		{% include 'UserBundle:NewTicket:field-department.html.twig' %}
	</div>
{% endif %}

{% if item.field_type == 'subject' %}
	<div data-field-id="ticket_subject" class="ticket-display-field {{ item.id }}" {% if item.id not in page_data_field_ids %}style="display: none"{% endif %}>
		{% include 'UserBundle:NewTicket:field-subject.html.twig' %}
	</div>
{% endif %}

{% if item.field_type == 'cc_emails' %}
	<div data-field-id="ticket_cc_emails" class="ticket-display-field {{ item.id }}" {% if item.id not in page_data_field_ids %}style="display: none"{% endif %}>
		{% include 'UserBundle:NewTicket:field-cc.html.twig' %}
	</div>
{% endif %}

{% if type == 'modify' and item.field_type == 'remove_ccs' and user_participants|length %}
	<div data-field-id="ticket_remove_ccs" class="ticket-display-field {{ item.id }}" {% if item.id not in page_data_field_ids %}style="display: none"{% endif %}>
		{% include 'UserBundle:NewTicket:field-cc-remove.html.twig' %}
	</div>
{% endif %}

{% if type != 'modify' %}
	{% if item.field_type == 'user_email' %}
		<div data-field-id="user_email" class="ticket-display-field {{ item.id }}" {% if item.id not in page_data_field_ids %}style="display: none"{% endif %}>
			{% include 'UserBundle:NewTicket:field-email-address.html.twig' %}
		</div>
	{% endif %}

	{% if item.field_type == 'user_name' %}
		<div data-field-id="user_name" class="ticket-display-field {{ item.id }}" {% if item.id not in page_data_field_ids %}style="display: none"{% endif %}>
			{% include 'UserBundle:NewTicket:field-person-name.html.twig' %}
		</div>
	{% endif %}

	{% if item.field_type == 'message' %}
		<div data-field-id="message" class="ticket-display-field {{ item.id }}" {% if (item.has_criteria or item.id not in page_data_field_ids) %}style="display: none"{% endif %}>
			{% include 'UserBundle:NewTicket:field-message.html.twig' %}
		</div>
	{% endif %}

	{% if item.field_type == 'attachments' %}
		<div data-field-id="attachments" class="ticket-display-field {{ item.id }}" {% if item.has_criteria or item.id not in page_data_field_ids %}style="display: none"{% endif %}>
			{% include 'UserBundle:NewTicket:field-attachments.html.twig' %}
		</div>
	{% endif %}
{% endif %}

{% if app.getSetting('core.use_ticket_category') and item.field_type == 'category' %}
	<div data-field-id="ticket_category" class="{{ item.id }} ticket-display-field" {% if item.has_criteria or item.id not in page_data_field_ids %}style="display: none"{% endif %}>
		{% include 'UserBundle:NewTicket:field-ticket-category.html.twig' %}
	</div>
{% endif %}

{% if app.getSetting('core.use_product') and item.field_type == 'product' %}
	<div data-field-id="ticket_product" class="{{ item.id }} ticket-display-field" {% if item.has_criteria or item.id not in page_data_field_ids %}style="display: none"{% endif %}>
		{% include 'UserBundle:NewTicket:field-product.html.twig' %}
	</div>
{% endif %}

{% if app.getSetting('core.use_ticket_priority') and item.field_type == 'priority' %}
	<div data-field-id="ticket_priority" class="{{ item.id }} ticket-display-field" {% if item.has_criteria or item.id not in page_data_field_ids %}style="display: none"{% endif %}>
		{% include 'UserBundle:NewTicket:field-ticket-priority.html.twig' %}
	</div>
{% endif %}

{###############
# Custom Fields
###############}

{% if item.field_type == 'ticket_field' and custom_fields[item.field_id] %}
	{% set f = custom_fields[item.field_id] %}
	<div data-field-id="ticket_field_{{f.id}}" class="dp-control-group custom-field {{ item.id }} ticket-display-field" {% if item.has_criteria or item.id not in page_data_field_ids %}style="display: none"{% endif %}>
		{% include 'UserBundle:NewTicket:field-custom-field.html.twig' %}
	</div>
{% endif %}

{% if item.field_type == 'user_field' and custom_user_fields[item.field_id] %}
	{% set f = custom_user_fields[item.field_id] %}
	<div data-field-id="user_field_{{f.id}}" class="dp-control-group custom-field {{ item.id }} ticket-display-field" {% if item.has_criteria or item.id not in page_data_field_ids %}style="display: none"{% endif %}>
		{% include 'UserBundle:NewTicket:field-custom-field.html.twig' %}
	</div>
{% endif %}

{% if captcha_html and item.field_type == 'captcha' %}
<div data-field-id="captcha" class="ticket-display-field captcha">
	{% include 'UserBundle:NewTicket:field-captcha.html.twig' %}
</div>
{% endif %}

{% endfor %}
