{% extends 'AdminInterfaceBundle:Layout:list-editpane.html.twig' %}
{% block editpane_content %}
	<section class="dp-paneblock">
		<article>
			<div class="panel panel-innertable">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Template Name</th>
							<th>
								<div ng-if="ListCtrl.typeId == 'custom' && ListCtrl.groupId == 'custom'" style="text-align: right;">
									<button type="button" class="btn btn-default btn-xs" ng-click="ListCtrl.createNewEmailTemplate()"><i class="fa fa-plus"></i> Create a new email template</button>
								</div>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="tpl in ListCtrl.templates">
							<td>
								<i class="fa fa-code icon-22x text-middle"></i>
								&nbsp;
									<span class="text-middle" ng-click="ListCtrl.openEditor(tpl)">
										<span class="linked-text">
											<em>{{ ng_var('tpl.title') }}</em>
											<i class="hovershow fa fa-cog"></i>
										</span>
									</span>
								<div style="font-size: 11px; color: #666;">
									{{ ng_var('tpl.desc') }}
								</div>
							</td>
							<td style="text-align: right;">
								<div ng-if="!(tpl.typeId == 'custom' && tpl.groupId == 'custom')">
									<span ng-show="tpl.is_custom" class="label uc label-info" tooltip-placement="left" tooltip="You have customized this template.">Customized</span>
									<span ng-show="!tpl.is_custom" class="label uc label-faded" tooltip-placement="left" tooltip="You have not customized this template. The default template is being used.">Default</span>
								</div>
							</td>
						</tr>
						<tr ng-if="!ListCtrl.templates || !ListCtrl.templates.length">
							<td colspan="2">You have not created any custom email templates yet.</td>
						</tr>
					</tbody>
				</table>
			</div>
		</article>
	</section>
	{{ ng_tpl('AdminInterfaceBundle:Templates:modal-email-editor.html.twig') }}
{% endblock %}