.button-variant(@color; @background; @border) {
	color: @color;
	.gradient-v(lighten(@background, 2%), darken(@background, 12%), 30);
	border-color: darken(@border, 7%);
	border-bottom-color: darken(@border, 6%);

	-webkit-box-shadow: inset 0 1px 0 0 lighten(@background, 12%);
	box-shadow: inset 0 1px 0 0 lighten(@background, 12%);

	text-shadow: 0 -1px 0 darken(@background, 15%);

	&:hover, &:focus, &:active, &.active, .open .dropdown-toggle& {
		color: @color;
		.gradient-v(darken(@background, 2%), darken(@background, 15%), 30);
		border-color: darken(@border, 15%);
	}

	&:active, &.active, .open .dropdown-toggle& {
		border: 1px solid darken(@border, 30%);
		background: darken(@background, 15%);
		-webkit-box-shadow: inset 1px 1px 3px 1px rgba(0, 0, 0, 0.30);
		box-shadow: inset 1px 1px 3px 1px rgba(0, 0, 0, 0.30);
		outline: none;
	}

	&.disabled, &[disabled], fieldset[disabled] & {
		&, &:hover, &:focus, &:active, &.active {
			background-color: @background;
			border-color: @border
		}
	}
}