{% extends 'AdminInterfaceBundle:Layout:fullpage-pane.html.twig' %}

{% block fullpane_content %}

	<section class="dp-paneblock dp-listpane">
		<header>
			<h3>MySQL Info</h3>
		</header>

		<article class="padd">
			MySQL Info |
			<a ng-href="{{ ng_href('server.mysql_status') }}">MySQL Status</a> |
			<a ng-href="{{ ng_href('server.mysql_sort_order') }}">Update Sort Order</a>
		</article>

		{##################################################################################################}

		<article class="padd">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>
							{{ phrase('admin.general.variable_name') }}
						</th>
						<th>
							{{ phrase('agent.general.value') }}
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="alt dp-id-col">
							Schema Status
						</td>
						<td>
							<div ng-show="is_loading_schemadiff">
								<i class="spinner-flat"></i>
							</div>
							<div ng-hide="is_loading_schemadiff">
								<textarea ng-if="schema_diff" rows="8" cols="100">
									{{ ng_var('schema_diff') }}
								</textarea>
								<div ng-if="!schema_diff" class="success">
									OKAY
								</div>
							</div>
						</td>
					</tr>
					<tr ng-repeat="(name, value) in server_mysql_info">
						<td class="alt dp-id-col">
							{{ ng_var('name') }}
						</td>
						<td>
							{{ ng_var('value') }}
						</td>
					</tr>
				</tbody>
			</table>
		</article>\
	</section>

{% endblock %}