<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" ng-click="dismiss()">&times;</button>
			<h4 class="modal-title">Clear Error Log</h4>
		</div>
		<div class="modal-body">
			<p>
				Are you sure you want to clear error log? This operation could not be undone.
			</p>
		</div>
		<div class="modal-footer">
			<button class="btn btn-success" ng-click="dismiss()"><i
						class="fa fa-undo"></i> {{ phrase('agent.general.cancel') }}</button>
			<button class="btn btn-danger" ng-click="confirm()"><i
						class="fa fa-trash-o"></i> {{ phrase('agent.general.delete') }}</button>
		</div>
	</div>
</div>