<header>
	<h1>Install language packs to translate user-facing text.</h1>
	<p>
		These language packs provide translations for text on the user portal and in automatic emails sent to users.
		Some packs also include agent or admin interface translations.
	</p>
</header>
<article>
	<section>
		<p>
			You can set the language to use for a ticket or a user in the agent interface.
		</p>
		<p>
			Users can select which of the installed languages to see on the portal.
		</p>
		<p>
			You can change the language of tickets or users in bulk under <strong>Settings &amp; Tools</strong>.
		</p>
		<p>
			If you need to support as many languages as possible, <strong>Settings &amp; Tools</strong>
			has an option to install and enable new language packs automatically, as they become available.
		</p>
		<p> Use the <strong>Edit Phrases</strong> button to edit the content of a language pack. This enables you to customize any text users or agents will see in the software interface and in emails. These phrases can be referenced in the template system used to customize the portal and emails.
		</p>
	</section>

	<section>
		<h2><span>Related Knowledgebase Articles</span></h2>
		<ul>
			<li><a href="https://support.deskpro.com/kb/articles/146" target="_blank">Set language in the chat widget</a></li>
		</ul>
	</section>
</article>
