{% extends 'AdminInterfaceBundle:Layout:list.html.twig' %}
{% block listpane_content %}
	<section class="dp-paneblock dp-listpane">
		<header>
			<h3>Default Language</h3>
		</header>
		<article>
			<div style="padding: 0 0 11px 10px;">
				<select ui-select2 ng-model="ListCtrl.default_lang_id" style="width: 60%">
					<option ng-repeat="pack in ListCtrl.installedPacks" value="{{ ng_var('pack.installed_language_id') }}" data-flag-image="{{ ng_var('pack.flag_image') }}">{{ ng_var('pack.show_title') }} ({{ ng_var('pack.title') }})</option>
				</select>
				<span dp-show-spinning="saving_default_lang"><i class="spinner-flat"></i></span>
			</div>
		</article>
	</section>

	<section class="dp-paneblock dp-listpane">
		<header>
			<h3>Installed Languages</h3>
		</header>
		<article>
			<ul class="dp-item-list">
				<li ng-repeat="pack in ListCtrl.installedPacks" dp-state-mark="setup.languages.edit.{{ ng_var('pack.id') }}">
					<a href="{{ ng_href('setup.languages.edit', '{id: pack.id}') }}" dp-list-autoload autoload-priority="{{ ng_var('ListCtrl.default_lang_id == pack.installed_language_id ? -1 : 1') }}">
						<span class="label label-primary" style="float:right; margin-left: 3px;" ng-show="pack.has_user">user</span>
						<span class="label label-primary" style="float:right; margin-left: 3px;" ng-show="pack.has_agent">agent</span>
						<span class="label label-primary" style="float:right; margin-left: 3px;" ng-show="pack.has_admin">admin</span>
						<h4>
							<img ng-src="{{ ng_var('pack.flag_image') }}" alt="Icon" style="margin-right: 3px; vertical-align: baseline;" />
							<span class="title-text">
								{{ ng_var('pack.show_title') }} ({{ ng_var('pack.title') }})
							</span>
						</h4>
					</a>
				</li>
			</ul>
		</article>
	</section>

	<section class="dp-paneblock dp-listpane" ng-show="ListCtrl.availablePacks.length">
		<header>
			<h3>Other Installable Languages</h3>
		</header>
		<article>
			<ul class="dp-item-list">
				<li ng-repeat="pack in ListCtrl.availablePacks" dp-state-mark="setup.languages.install.install-{{ ng_var('pack.id') }}">
					<a href="{{ ng_href('setup.languages.install', "{id: 'install-' + pack.id}") }}">
						<span class="label label-primary" style="float:right; margin-left: 3px;" ng-show="pack.has_user">user</span>
						<span class="label label-primary" style="float:right; margin-left: 3px;" ng-show="pack.has_agent">agent</span>
						<span class="label label-primary" style="float:right; margin-left: 3px;" ng-show="pack.has_admin">admin</span>
						<h4>
							<img ng-src="{{ ng_var('pack.flag_image') }}" alt="Icon" style="margin-right: 3px; vertical-align: baseline;" />
							<span class="title-text">
								{{ ng_var('pack.show_title') }} ({{ ng_var('pack.title') }})
							</span>
						</h4>
					</a>
				</li>
			</ul>
		</article>
	</section>

	<section class="dp-paneblock dp-panelink">
		<a href="{{ ng_href('setup.languages.newlang') }}">
			<em><i class="fa fa-chevron-down"></i></em>
			<h3>New Language</h3>
		</a>
	</section>

	<section class="dp-paneblock dp-panelink">
		<a href="{{ ng_href('setup.languages.settings') }}">
			<em><i class="fa fa-chevron-down"></i></em>
			<h3>Settings &amp; Tools</h3>
		</a>
	</section>
{% endblock %}
{% block listpane_help %}
	{% include 'AdminInterfaceBundle:Languages:help-page.html.twig' %}
{% endblock %}