{% extends 'AdminInterfaceBundle:Layout:list-editpane.html.twig' %}
{% block editpane_content %}
	<form role="form" name="form_props" ng-submit="LabelsEdit.saveLabel()">
		<section class="dp-paneblock dp-editpane">
			<article class="form-horizontal dp-form">
				<div class="panel panel-fill indent">
					<div class="panel-body">
						<div class="form-group">
							<div class="col-lg-3">
								<h3>{{phrase('agent.general.label')}} *</h3>
							</div>
							<div class="col-lg-9">
								<div class="inner-group" dp-error-class="form_props.title">
									<input type="text" class="form-control" name="label"  ng-model="form.label" style="width: 50%;" required autofocus/>
									<span class="help-block">
										{{phrase('adm.departments.title_explain')}}
									</span>
								</div>
							</div>
						</div>

					</div>
				</div>
			</article>
			<footer>
				<div class="dp-content">
					<div class="text-danger ng-hide" ng-show="form_props.$attempted && form_props.$invalid">
						<p><strong>{{phrase('adm.general.please_correct_errors')}}</strong></p>
						<ul>
							<li ng-show="form_props.label.$error.required">{{phrase('adm.general.label_edit_error')}}</li>
						</ul>
					</div>
					<div class="dp-btn-controls" ng-hide="form_props.$attempted && form_props.$invalid">
						<div dp-hide-spinning="saving_label">
							<button class="btn btn-primary" dp-submit-form>{{phrase('agent.general.save')}}</button>
						</div>
						<div dp-show-spinning="saving_label">
							<i class="spinner-flat"></i>
						</div>
					</div>
				</div>
			</footer>
		</section>
	</form>
	<div dp-register-message="saved_label">Label {{ng_var('form.label')}} was saved successfully</div>
	<div dp-register-message="not_saved_label">Label {{ng_var('form.label')}} was not saved</div>
	<div dp-register-message="not_created_label">Label {{ng_var('form.label')}} was not created</div>
{% endblock %}