{% extends 'AdminInterfaceBundle:Layout:app.html.twig' %}
{% block nav_content %}
	<nav class="dp-appnav">
		<ul>
			<li dp-state-mark="agents.agents"><a href="#/agents/agents"><i class="fa fa-user"></i> Agents</a></li>
			<li dp-state-mark="agents.teams"><a href="#/agents/teams"><i class="fa fa-users"></i> Teams</a></li>
			<li dp-state-mark="agents.groups"><a href="#/agents/groups"><i class="fa fa-shield"></i> Permission Groups</a></li>
			<li dp-state-mark="agents.audit_log"><a href="#/agents/audit_log"><i class="fa fa-files-o"></i> Audit Log</a></li>
		</ul>
	</nav>
{% endblock %}