{% extends 'AdminInterfaceBundle:Layout:app.html.twig' %}
{% block nav_content %}
	<nav class="dp-appnav">
		<ul>
			<li dp-state-mark="chat.setup">
				<a href="{{ ng_href('chat.setup') }}">
					<i class="fa fa-cog"></i>
					<span>Setup</span>
					<i class="fa fa-caret-right"></i>
				</a>
			</li>
			<li dp-state-mark="chat.chat_deps">
				<a href="{{ ng_href('chat.chat_deps') }}">
					<i class="fa fa-briefcase"></i>
					<span>Departments</span>
					<i class="fa fa-caret-right"></i>
				</a>
			</li>
			<li dp-state-mark="chat.fields">
				<a href="{{ ng_href('chat.fields') }}">
					<i class="fa fa-terminal"></i>
					<span>Fields</span>
					<i class="fa fa-caret-right"></i>
				</a>
			</li>
			<li dp-state-mark="chat.labels">
				<a href="{{ ng_href('chat.labels') }}">
					<i class="fa fa-tags"></i>
					<span>Labels</span>
					<i class="fa fa-caret-right"></i>
				</a>
			</li>
		</ul>
	</nav>
{% endblock %}