{% extends 'AdminInterfaceBundle:Layout:app.html.twig' %}
{% block nav_content %}
	<nav class="dp-appnav">
		<ul>
			<li dp-state-mark="apps.apps"><a href="#/apps/apps"><i class="fa fa-puzzle-piece"></i> Apps</a></li>
			<li dp-state-mark="apps.api_keys"><a href="#/apps/api_keys"><i class="fa fa-key"></i> API Keys</a></li>
		</ul>
	</nav>
{% endblock %}