<!DOCTYPE html>
<html ng-app>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>{{ phrase('adm.general.deskpro_admin_interface') }}</title>

	<style type="text/css">
		body {
			overflow: hidden;
			background: #fff !important;
		}
		#agent_chats_wrapper, #agent_chat_panel {
			display: none;
		}

		#dp_loading {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 1000000000;

			background: #91ada1 url('{{ asset('images') }}/login/background.jpg') repeat center top fixed;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			text-align: center;
		}

		#dp_loading .msg-outer {
			width: 250px;

			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -120px;
			margin-left: -125px;
		}

		#dp_loading .msg {
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
			background: #ffffff;

			box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
			-moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
			-webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);

			padding:  25px;
			text-align: center;
		}

		#dp_loading h1 {
			font-family: "Helvetica Neue", Helvetica, arial, sans-serif;
			font-size: 15px;
			text-align: left;
			color: #000;

			display: inline-block;
			text-align: center;

			background: url({{ asset('images/spinners/logo-loading.gif') }}) no-repeat 50% 0;

			margin: 0;
			padding: 0;
			padding-top: 108px;
		}

		{# Agent links that are us dont appear clickable #}
		.agent-link[data-agent-id="{{ app.user.id }}"]:hover, .agent-link[data-agent-id="0"]:hover {
			text-decoration: none;
			cursor: text;
		}
	</style>
</head>
<body>
<div id="dp_loading"><div class="msg-outer"><div class="msg"><h1>{{ phrase('agent.general.loading_interface') }}</h1></div></div></div>

{% if app.isDebug() %}
	<dp-devbar></dp-devbar>
{% endif %}

<header class="dp-app-header">
	<div class="user-profile pull-left">
		<img class="gravatar pull-left" src="{{ app.user.getPictureUrl(32) }}">
		<div class="username">{{ phrase('agent.chrome.hello-user', {name: app.user.name}) }}</div>
		<ul class="nav-profile">
			<li onclick="window.location='{{ path('user_logout', {'auth': static_security_token('user_logout', 0)}) }}?to=agent'; return false;"><i class="fa fa-sign-out"></i> <a>{{ phrase('agent.chrome.link_logout') }}</a></li>
		</ul>
	</div>

	<div class="group pull-right">
		<a href="http://www.deskpro.com/" target="_blank" class="logo"></a>
	</div>
</header>

<div id="dp_main_view" ng-controller="Admin_Main_Ctrl_MainPage">
	<!-- Left Navigation Column -->
	<nav class="dp-appstrip">
		<ul ng-hide="isBillingInterface">
			<li tooltip="{{ phrase('adm.general.home') }}" tooltip-append-to-body="true" tooltip-placement="right" dp-state-mark="home" class="state-on">
				<a href="#/"><i class="app-icon app-icon-home"></i></a>
			</li>
			<li tooltip="{{ phrase('adm.general.apps_setup') }}" tooltip-append-to-body="true" tooltip-placement="right" dp-state-mark="setup">
				<a href="#/setup"><i class="app-icon app-icon-setup"></i></a>
			</li>
			<li tooltip="{{ phrase('adm.general.apps_agents') }}" tooltip-append-to-body="true" tooltip-placement="right" dp-state-mark="agents">
				<a href="#/agents"><i class="app-icon app-icon-agents"></i></a>
			</li>
			<li tooltip="{{ phrase('adm.general.apps_tickets') }}" tooltip-append-to-body="true" tooltip-placement="right" dp-state-mark="tickets">
				<a href="#/tickets"><i class="app-icon app-icon-tickets"></i></a>
			</li>
			<li tooltip="{{ phrase('adm.general.apps_crm') }}" tooltip-append-to-body="true" tooltip-placement="right" dp-state-mark="crm">
				<a href="#/crm"><i class="app-icon app-icon-users"></i></a>
			</li>
			<li tooltip="{{ phrase('adm.general.apps_portal') }}" tooltip-append-to-body="true" tooltip-placement="right" dp-state-mark="portal">
				<a href="#/portal"><i class="app-icon app-icon-portal"></i></a>
			</li>
			<li tooltip="{{ phrase('adm.general.apps_chat') }}" tooltip-append-to-body="true" tooltip-placement="right" dp-state-mark="chat">
				<a href="#/chat"><i class="app-icon app-icon-chat"></i></a>
			</li>
			{#
				<li tooltip="{{ phrase('adm.general.apps_twitter') }}" tooltip-append-to-body="true" tooltip-placement="right" dp-state-mark="twitter">
					<a href="#/twitter"><i class="app-icon app-icon-twitter"></i></a>
				</li>
			#}
			<li tooltip="{{ phrase('adm.general.apps') }}" tooltip-append-to-body="true" tooltip-placement="right" dp-state-mark="apps">
				<a href="#/apps"><i class="app-icon app-icon-apps"></i></a>
			</li>
			<li tooltip="{{ phrase('adm.general.apps_server') }}" tooltip-append-to-body="true" tooltip-placement="right" dp-state-mark="server">
				<a href="#/server"><i class="app-icon app-icon-server"></i></a>
			</li>
		</ul>

		<ul class="btm">
			<li tooltip="Go to Agent Interface" tooltip-append-to-body="true" tooltip-placement="right" class="agent-ifce-btn">
				<a href="/{{ path('user')|ltrim('/') }}agent/"><i class="app-icon app-icon-agent-ifce"></i></a>
			</li>
			<li tooltip="Go to Reports Interface" tooltip-append-to-body="true" tooltip-placement="right" class="reports-ifce-btn">
				<a href="/{{ path('user')|ltrim('/') }}reports/"><i class="app-icon app-icon-reports-ifce"></i></a>
			</li>
			<li ng-class="{'section-on': isBillingInterface}" tooltip="{{ ng_var("(isBillingInterface ? 'You are currently using the Billing Interface' : 'Go to Billing Interface')") }}" tooltip-append-to-body="true" tooltip-placement="right" class="lic-ifce-btn">
				<a href="#/license"><i class="app-icon app-icon-billing-ifce"></i></a>
			</li>
			<li ng-class="{'section-on': !isBillingInterface}" tooltip="{{ ng_var("(isBillingInterface ? 'Go to Admin Interface' : 'You are currently using the Admin Interface')") }}" tooltip-append-to-body="true" tooltip-placement="right">
				<a href="#/"><i class="app-icon app-icon-admin-ifce"></i></a>
			</li>
			<li tooltip="Go to User Interface" tooltip-append-to-body="true" tooltip-placement="right" class="user-ifce-btn">
				<a href="{{ path('user') }}" dp-click-href="#/go_to_user"><i class="app-icon app-icon-user-ifce"></i></a>
			</li>
		</ul>
	</nav>
	<div class="dp-layout" ui-view></div>
</div>

{{ ng_tpl('AdminInterfaceBundle:Index:modal-network-error.html.twig') }}
{{ ng_tpl('AdminInterfaceBundle:Index:modal-server-error.html.twig') }}
{{ ng_tpl('AdminInterfaceBundle:Common:datepicker.html.twig', 'template/datepicker/datepicker.html') }}
{{ ng_tpl('AdminInterfaceBundle:Common:datepicker-menu.html.twig', 'template/datepicker/popup.html') }}

<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /><![endif]-->

<link rel="stylesheet" href="{{ asset('app/bower_components/font-awesome/css/font-awesome.min.css') }}"/>
<link rel="stylesheet" href="{{ asset('app/bower_components/select2/select2.css') }}"/>
<link rel="stylesheet" href="{{ asset('app/bower_components/blueimp-file-upload/css/jquery.fileupload.css') }}">
<link rel="stylesheet" href="{{ asset('app/bower_components/angular-slider/angular-slider.min.css') }}">
<link rel="stylesheet" href="{{ asset('app/bower_components/angular-grid/ng-grid.min.css') }}">
<link rel="stylesheet" href="{{ asset('app/bower_components/animate.css/animate.min.css') }}">
<link rel="stylesheet" href="{{ asset('app/build/Admin/css/admin-style.css') }}"/>

<!-- legacy: portal editor -->
<link rel="stylesheet" href="{{ asset('vendor/colorpicker/css/colorpicker.css') }}" type="text/css" />
<script type="text/javascript">
window.DP_ASSET_URL      = '{{ asset('') }}';
window.DP_BASE_URL       = '/{{ path('user')|ltrim('/') }}';
window.DP_BASE_API_URL   = '/{{ path('user')|ltrim('/') }}api';
window.DP_BASE_ADMIN_URL = '/{{ path('admin')|trim('/') }}';
window.DP_API_TOKEN      = '{{ api_token.getKeyString() }}';
window.DP_SESSION_ID     = '{{ session.session_code }}';
window.DP_REQUEST_TOKEN  = '{{ initial_request_token }}';
window.DP_PERSON_ID      = {{ app.user.id }};
window.DP_PERSON_EMAIL   = '{{ app.user.getPrimaryEmailAddress() }}';
window.DP_PERSON_LANG_ID = {{ app.user.language.id }};
window.DP_IS_DEBUG       = {% if app.isDebug() %}true{% else %}false{% endif %};
window.DP_IS_TESTING     = {% if app.isTesting() %}true{% else %}false{% endif %};
window.DP_USE_RJS_BUILD  = {% if (not app.isDebug() or app.getSetting('core.dev_use_rjs_build') and not app.getSetting('core.disable_rjs_build')) %}true{% else %}false{% endif %};
window.DP_BUILD_TIME     = {{ app.getBuildTime() }};

{% if inhelp_states %}
window.DP_INHELP_STATES = {{ inhelp_states|json_encode|raw }};
{% endif %}
</script>
{{ js_error_tracking('admin_interface') }}
<script	type="text/javascript" src="{{ asset('app/DeskPRO/preboot.js') }}"></script>
<script type="text/javascript">window.DP_INTERFACE_LOADER = 'AdminLoad';</script>
<script	type="text/javascript" data-main="{{ asset('app/loader.js') }}?v={{ app.getBuildTime() }}" src="{{ asset('app/bower_components/requirejs/require.js') }}"></script>
<script type="text/javascript">{{ rjs_apps_config|raw }}</script>
</body>
</html>