<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<h4 class="modal-title"><i class="fa fa-hdd-o"></i> Server Error</h4>
		</div>
		<div class="modal-body">
			<p>
				A server error occurred while processing your last request.
			<p>
				This may be a temporary problem, in which case you can simply retry your last request again.
			</p>
			<p>
				If the problem persists, you should contact <a href="mailto:support@deskpro.com">support@deskpro.com</a> for assistance.
			</p>
		</div>
		<div class="modal-footer">
			<button class="btn btn-default" ng-click="dismiss()">Dismiss</button>
			<button class="btn btn-primary" ng-click="reload()"><i class="fa fa-refresh"></i> Reload Page</button>
		</div>
	</div>
</div>