<div class="modal-dialog">
<div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" ng-click="dismiss()">&times;</button>
		<h4 class="modal-title">{{ ng_var('title') }}</h4>
	</div>
	<div class="modal-body">
		{{ ng_var('message') }}
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="dismiss()">{{ phrase('agent.general.okay') }}</button>
	</div>
</div>
</div>