{% extends 'AdminInterfaceBundle:Layout:list-editpane.html.twig' %}
{% block editpane_content %}
	<form class="form-horizontal dp-form" role="form" name="form_props" ng-submit="TicketProds.save()">
		<section class="dp-paneblock dp-editpane">
			<article class="form-horizontal dp-form">
				<div class="panel panel-fill indent">
					<div class="panel-body">
						<div class="form-group">
							<div class="col-lg-2">
								<h3>Enabled</h3>
							</div>
							<div class="col-lg-10">
								<label><input type="checkbox" ng-model="TicketProds.enabled" /> Enable the product field</label>
							</div>
						</div>

						<div class="form-group" ng-show="TicketProds.enabled">
							<div class="col-lg-3">
								<h3>Layouts</h3>
							</div>
							<div class="col-lg-9">
								Select which layouts this field should be added to. You can fine-tune how layouts look (e.g., display order of fields) from
								the <a href="{{ ng_href('tickets.ticket_deps') }}">ticket department</a> section.

								<div style="margin-top: 5px;">
									<div style="width: 45%; float:left;">
										<strong>User Layouts</strong>
										<ul class="checkbox-list" style="min-width: 250px">
											<li ng-repeat="layout in TicketProds.user_layouts">
												<label>
													<input type="checkbox" ng-model="layout.enabled" />
													<span ng-if="!layout.department">Default Layout</span>
													<span ng-if="layout.department">{{ ng_var('layout.department.title_full') }}</span>
												</label>
											</li>
										</ul>
									</div>
									<div style="width: 45%; float:left;">
										<strong>Agent Layouts</strong>
										<ul class="checkbox-list" style="min-width: 250px">
											<li ng-repeat="layout in TicketProds.agent_layouts">
												<label>
													<input type="checkbox" ng-model="layout.enabled" />
													<span ng-if="!layout.department">Default Layout</span>
													<span ng-if="layout.department">{{ ng_var('layout.department.title_full') }}</span>
												</label>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="col-lg-2">
								<h3>Products</h3>
							</div>
							<div class="col-lg-10">
								<dp-category-builder max-depth="2" ng-model="TicketProds.products"></dp-category-builder>
							</div>
						</div>

						<div class="form-group">
							<div class="col-lg-2">
								<h3>Default</h3>
							</div>
							<div class="col-lg-10">
								<select
									ui-select2
									ng-model="TicketProds.default_id"
									style="min-width: 240px"
								>
									<option value="0">No Default</option>
									<option value="{{ ng_var('cat.id') }}" ng-repeat="cat in TicketProds.cat_parent_list">{{ ng_var('cat.title') }}</option>
								</select>
							<span class="help-block">
								Choose the category selected by default on the new ticket form (for both agents and users). This default will
								also be used in the email gateway.
							</span>
							</div>
						</div>

						<div class="form-group">
							<div class="col-lg-2">
								<h3>Validation</h3>
							</div>
							<div class="col-lg-10">
								<div style="padding-top:6px;">
									<label style="font-weight: normal; display: block;">
										<input type="checkbox" ng-model="TicketProds.user_required" /> Require <strong>users</strong> to select a value for this field
									</label>
									<label style="font-weight: normal; display: block;">
										<input type="checkbox" ng-model="TicketProds.agent_required" /> Require <strong>agents</strong> to select a value for this field
									</label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</article>
			<footer>
				<div class="dp-content">
					<div class="text-danger ng-hide" ng-show="form_props.$attempted && form_props.$invalid">
						<p><strong>{{ phrase('adm.general.please_correct_errors') }}</strong></p>
						<ul>
						</ul>
					</div>

					<div class="dp-btn-controls" ng-hide="form_props.$attempted && form_props.$invalid">
						<div dp-hide-spinning="saving">
							<button class="btn btn-primary" dp-submit-form>{{ phrase('agent.general.save') }}</button>
						</div>
						<div dp-show-spinning="saving">
							<i class="spinner-flat"></i>
						</div>
					</div>
				</div>
			</footer>
		</section>
	</form>
	<div dp-register-message="saved_settings">Categories saved successfully.</div>
{% endblock %}