<article
	class="row-item ticket-row-<%= ticket.id %> sla-status-<%= ticket.worst_sla_status %>"
	data-route="ticket:{{ path('agent_ticket_view', {'ticket_id': '0000'})|replace({'0000': '<%= ticket.id %>'})|raw }}"
	data-ticket-id="<%= ticket.id %>"
	ng-class="{'open': openTickets[ticket.id]}"
	data-route-title="@selector(a.subject)"
	data-route-openclass="open"
>
	<% if (ticket.preview_changes) {
		ticket_display = ticket.preview_changes;
	} else {
		ticket_display = ticket;
	} %>
	<div class="item-hover-over-indicator"></div>
	<div class="loading-arrow">{{ phrase('agent.general.loading') }}</div>
	<input type="checkbox" class="item-select" ng-model="checkedTickets[<%= ticket.id %>]" />
	<div class="top-row">
		<div class="top-row-left">
			<h3>
				<span class="obj-id">#<%= ticket.id %></span>
				<a class="subject click-through">
					<%- ticket.subject %>
				</a>
			</h3>
			<div dp-sticky-tip trigger=".subject" offset-top="18" ng-if="ticket.previews[0]" max-width-calc="previewMaxWidthCalc" no-hover-tip>
				<div class="previewtext-row" dp-text-overflow overflow-height="62" overflow-manual-init>{# 68 = roughly 4 lines of text at 12px font and 16px line-height #}
					<cite><%- ticket.previews[0].person.display_name %>:</cite>
					<%- ticket.previews[0].message.preview_text %>
				</div>
			</div>
		</div>
		<div class="top-row-right">
			<div class="bound-fade"></div>
			<% if (ticket_display.is_hold) { %><div class="on-hold">{{ phrase('agent.tickets.on_hold') }}</div><% } %>
			<div class="status-pill status urgency-<%= ticket_display.urgency %> <%= ticket_display.status %> <%= ticket_display.status %>_<%= ticket_display.hidden_status %>">
				<% if (ticket_display.status == 'awaiting_agent') { %>
					<label>{{ phrase('agent.tickets.status_awaiting_agent') }}</label>
				<% } %>
				<% if (ticket_display.status == 'awaiting_user') { %>
					<label>{{ phrase('agent.tickets.status_awaiting_user') }}</label>
				<% } %>
				<% if (ticket_display.status == 'resolved') { %>
					<label>{{ phrase('agent.tickets.status_resolved') }}</label>
				<% } %>
				<% if (ticket_display.status == 'closed') { %>
					<label>{{ phrase('agent.tickets.status_closed') }}</label>
				<% } %>
				<% if (ticket_display.status == 'hidden' && !ticket_display.hidden_status) { %>
					<label>{{ phrase('agent.tickets.status_hidden') }}</label>
				<% } %>
				<% if (ticket_display.status == 'hidden' && ticket_display.hidden_status == 'deleted') { %>
					<label>{{ phrase('agent.tickets.status_hidden_deleted') }}</label>
				<% } %>
				<% if (ticket_display.status == 'hidden' && ticket_display.hidden_status == 'spam') { %>
					<label>{{ phrase('agent.tickets.status_hidden_spam') }}</label>
				<% } %>
				<% if (ticket_display.status == 'hidden' && ticket_display.hidden_status == 'temp') { %>
					<label>{{ phrase('agent.tickets.status_hidden_temp') }}</label>
				<% } %>
				<% if (ticket_display.status == 'hidden' && ticket_display.hidden_status == 'validating') { %>
					<label>{{ phrase('agent.tickets.status_hidden_validating') }}</label>
				<% } %>

				<% if (ticket_display.status == 'awaiting_agent') { %>
					<i class="ticket-urgency"><%= ticket_display.urgency %></i>
				<% } %>
			</div>

			<% if (ticket_display.agent) { %>
				<span class="tipped agent-inline-icon" title="<%- ticket_display.agent.display_name %>" style="background-image: url('<%- ticket_display.agent.picture_url_16 %>');"></span>
			<% } %>

			<% if (ticket_display.flag) { %>
				<i class="flag <%= ticket_display.flag %>"></i>
			<% } %>
			<br class="clear" />
		</div>
	</div>
	<div class="userinfo">
		<a class="name click-through" data-route="person:{{ path('agent_people_view', {'person_id': '0000'})|replace({'0000': '<%= ticket_display.person.id %>'})|raw }}" data-route-title="@selector(.person-tip)">
			<span class="with-icon" style="background-image: url('<%- ticket_display.person.picture_url_16 %>');"><%- ticket_display.person.display_name %></span></a>
			<% if (ticket_display.person.primary_email.email) { %>
				<span class="email">&lt;<%- ticket_display.person.primary_email.email %>&gt;</span>
			<% } %>
			<% if (ticket_display.organization) { %>
				<span class="org">
					<% if (ticket_display.person.organization_position) { %><%= ticket_display.person.organization_position %>, <% } %><%- ticket_display.organization.name %>
				</span>
			<% } %>
		<div class="bound-fade"></div>
	</div>
	<div class="extra-fields">
		<ul>
			<% for (var i = 0; i < display_fields.length; i++) { var field = display_fields[i]; if (!this.isFieldDisplayable(ticket, field)) continue; %>
				<li>
					<% if (field == 'department') { %>
						<span class="prop-title">{{ phrase('agent.general.department') }}:</span>
						<span class="prop-val"><%- ticket_display.department.title_full %></span>
					<% } %>

					<% if (field == 'ref') { %>
						<span class="prop-title">{{ phrase('agent.general.ref') }}:</span>
						<span class="prop-val"><%- ticket_display.ref %></span>
					<% } %>

					<% if (field == 'language') { %>
						<span class="prop-title">{{ phrase('agent.general.language') }}:</span>
						<span class="prop-val"><%= ticket_display.language.title %></span>
					<% } %>

					<% if (field == 'category') { %>
						<span class="prop-title">{{ phrase('agent.general.category') }}:</span>
						<span class="prop-val"><%= ticket_display.category.title %></span>
					<% } %>

					<% if (field == 'priority') { %>
						<span class="prop-title">{{ phrase('agent.general.priority') }}:</span>
						<span class="prop-val"><%= ticket_display.priority.title %></span>
					<% } %>

					<% if (field == 'workflow') { %>
						<span class="prop-title">{{ phrase('agent.general.workflow') }}:</span>
						<span class="prop-val"><%= ticket_display.workflow.title %></span>
					<% } %>

					<% if (field == 'product') { %>
						<span class="prop-title">{{ phrase('agent.general.product') }}:</span>
						<span class="prop-val"><%= ticket_display.product.title %></span>
					<% } %>

					<% if (field == 'agent') { %>
						<span class="prop-title">{{ phrase('agent.general.agent') }}:</span>
						<% if (ticket_display.agent && ticket_display.agent.id == DESKPRO_PERSON_ID) { %><span class="prop-val"><%- ticket_display.agent.display_name %></span><% } %>
						<% if (ticket_display.agent && ticket_display.agent.id != DESKPRO_PERSON_ID) { %><span class="prop-val"><a class="agent_link" ng-click="openAgentChat(<%= ticket_display.agent.id %>, $event)"><%- ticket_display.agent.display_name %></a></span><% } %>
						<% if (!ticket_display.agent) { %><span class="prop-val">{{ phrase('agent.general.unassigned') }}</span><% } %>
					<% } %>

					<% if (field == 'agent_team') { %>
						<span class="prop-title">{{ phrase('agent.general.agent_team') }}:</span>
						<% if (ticket_display.agent_team) { %><span class="prop-val"><%- ticket_display.agent_team.name %></span><% } %>
						<% if (!ticket_display.agent_team) { %><span class="prop-val">{{ phrase('agent.general.no_team') }}</span><% } %>
					<% } %>

					<% if (field == 'labels') { %>
						<span class="prop-title">{{ phrase('agent.general.labels') }}:</span>
						<span class="prop-val">
							<% for (var labelIdx = 0; labelIdx < ticket_display.labels.length; labelIdx++) { %>
								<span class="listing-tag"><%- ticket_display.labels[labelIdx] %></span>
							<% } %>
						</span>
					<% } %>

					<% if (field == 'organization') { %>
						<span class="prop-title">{{ phrase('agent.general.organization') }}:</span>
						<span class="prop-val">
							<a class="with-route" data-route="page:{{ path('agent_org_view', {'organization_id': '0000'})|replace({'0000': '<%= ticket_display.organization.id %>'}) }}" data-route-title="@text"><%- ticket_display.organization.name %></a>
						</span>
					<% } %>

					<% if (field == 'date_created') { %>
						<span class="prop-title">{{ phrase('agent.general.date_created') }}:</span>
						<span class="prop-val">
							<span dp-timeago timestamp="<%= ticket_display.date_created_ts %>" />
						</span>
					<% } %>

					<% if (field == 'date_user_waiting') { %>
						<span class="prop-title">{{ phrase('agent.general.user_waiting') }}:</span>
						<span class="prop-val">
							<span dp-timeago timestamp="<%= ticket_display.date_user_waiting_ts %>" no-suffix />
						</span>
					<% } %>

					<% if (field == 'date_resolved') { %>
						<span class="prop-title">{{ phrase('agent.general.date_resolved') }}:</span>
						<span class="prop-val">
							<span dp-timeago timestamp="<%= ticket_display.date_resolved_ts %>" />
						</span>
					<% } %>

					<% if (field == 'date_last_user_reply') { %>
						<span class="prop-title">{{ phrase('agent.general.date_of_last_user_reply') }}:</span>
						<span class="prop-val">
							<span dp-timeago timestamp="<%= ticket_display.date_last_user_reply_ts %>" />
						</span>
					<% } %>

					<% if (field == 'date_last_agent_reply') { %>
						<span class="prop-title">{{ phrase('agent.general.date_of_last_agent_reply') }}:</span>
						<span class="prop-val">
							<span dp-timeago timestamp="<%= ticket_display.date_last_agent_reply_ts %>" />
						</span>
					<% } %>

					<% if (field == 'date_last_reply') { %>
						<span class="prop-title">{{ phrase('agent.general.date_of_last_reply') }}:</span>
						<% if (ticket_display.date_last_agent_reply && (!ticket_display.date_last_user_reply || ticket_display.date_last_agent_reply_ts > ticket_display.date_last_user_reply_ts)) { %>
							<span class="prop-val">
								<span dp-timeago timestamp="<%= ticket_display.date_last_agent_reply_ts %>" />
							</span>
						<% } %>
						<% if (ticket_display.date_last_user_reply && (!ticket_display.date_last_agent_reply || ticket_display.date_last_user_reply_ts > ticket_display.date_last_agent_reply_ts)) { %>
							<span dp-timeago timestamp="<%= ticket_display.date_last_user_reply_ts %>" />
						<% } %>
					<% } %>

					<% if (field == 'total_user_waiting') { %>
						<span class="prop-title">{{ phrase('agent.general.total_time_waiting') }}:</span>
						<span class="prop-val">
							<span ng-bind="<%= parseInt(
								(ticket_display.total_user_waiting || 0)
								+ (
									(ticket_display.date_user_waiting_ts || ticket_display.date_created_ts)
									- ((new Date()).getTime()/1000)
								)
							) %>|formatSeconds"></span>
						</span>
					<% } %>

					<% if (field == 'slas') { %>
						<span class="prop-title">{{ phrase('agent.general.slas') }}:</span>
						<span class="prop-val">
							<% for (var slaIdx = 0; slaIdx < ticket_display.ticket_slas.length; slaIdx++) { var ticket_sla = ticket_display.ticket_slas[slaIdx]; %>
							<span class="prop-val sla-status-<%= ticket_sla.sla_status %>">
								<%- ticket_sla.sla.title %>
								<% if (ticket_sla.next_trigger_date_ts) { %>
									(<span dp-timeago timestamp="<%= ticket_sla.next_trigger_date_ts %>" no-suffix />)
								<% } %>
							</span>
							<% } %>
						</span>
					<% } %>

					{% for field in app.getCustomFieldManager('tickets').getFields() %}
						<% if (field == 'ticket_fields[{{ field.id }}]') { %>
							<span class="prop-title">{{ field.title }}:</span>
							<span class="prop-val"><%- ticket_display.field{{ field.id }} %></span>
						<% } %>
					{% endfor %}
					{% for field in app.getCustomFieldManager('people').getFields() %}
						<% if (field == 'person_fields[{{ field.id }}]') { %>
							<span class="prop-title">{{ field.title }}:</span>
							<span class="prop-val"><%- ticket_display.person.field{{ field.id }} %></span>
						<% } %>
					{% endfor %}
				</li>
			<% } %>
		</ul>
		<br class="clear"/>
	</div>
</article>