{% extends 'AdminInterfaceBundle:Layout:list.html.twig' %}
{% block listpane_content %}
	<section class="dp-paneblock dp-listpane">
		<header>
			<h3>{{ phrase('admin.tickets.statuses') }}</h3>
		</header>
		<article>
			<ul class="dp-item-list">
				<li dp-state-mark="tickets.statuses.awaiting_agent">
					<a href="{{ ng_href('tickets.statuses.awaiting_agent') }}">{{ phrase('agent.tickets.status_awaiting_agent') }}</a>
				</li>
				<li dp-state-mark="tickets.statuses.awaiting_user">
					<a href="{{ ng_href('tickets.statuses.awaiting_user') }}">{{ phrase('agent.tickets.status_awaiting_user') }}</a>
				</li>
				<li dp-state-mark="tickets.statuses.resolved">
					<a href="{{ ng_href('tickets.statuses.resolved') }}">{{ phrase('agent.tickets.status_resolved') }}</a>
				</li>
				<li dp-state-mark="tickets.statuses.closed">
					<a href="{{ ng_href('tickets.statuses.closed') }}">{{ phrase('agent.tickets.status_closed') }}</a>
				</li>
			</ul>
		</article>
	</section>

	<section class="dp-paneblock dp-listpane">
		<header>
			<h3>{{ phrase('admin.tickets.hidden_statuses') }}</h3>
		</header>
		<article>
			<ul class="dp-item-list">
				<li dp-state-mark="tickets.statuses.hidden_validating">
					<a href="{{ ng_href('tickets.statuses.hidden_validating') }}">{{ phrase('agent.tickets.status_hidden_validating') }}</a>
				</li>
				<li dp-state-mark="tickets.statuses.hiddel_deleted">
					<a href="{{ ng_href('tickets.statuses.hidden_deleted') }}">{{ phrase('agent.tickets.status_hidden_deleted') }}</a>
				</li>
				<li dp-state-mark="tickets.statuses.hidden_spam">
					<a href="{{ ng_href('tickets.statuses.hidden_spam') }}">{{ phrase('agent.tickets.status_hidden_spam') }}</a>
				</li>
			</ul>
		</article>
	</section>
{% endblock %}
{% block listpane_help %}
	<header>
		<h1>The ticket status field tracks who needs to act on the ticket next.</h1>
		<p>
			DeskPRO is based on back and forth communication between users and agents. The status field is used to record whether a user or an agent needs to respond to the ticket next. You cannot change or add statuses.
		</p>
	</header>
	<article>
		<section>
			<p>There are three core ticket statuses:</p>
			<p><strong>Awaiting Agent</strong>: The ticket requires a response from an agent. DeskPRO is based around helping agents work on and respond to these tickets.</p>
			<p><strong>Awaiting User</strong>: The ticket requires a response from a user. Typically this will be because the Agent has replied and is either awaiting further information or has fixed the problem and is awaiting confirmation that the problem is fixed.</p>
			<p><strong>Resolved</strong>: The ticket is completed and does not require any further response.</p>
			<p>Agents can set tickets to a sub-status called <strong>On Hold</strong>. This status only applies to tickets that are Awaiting Agent. The purpose of this status is to hide tickets that agents cannot reply to currently (e.g. because they are waiting for a third party). You can use the Workflow field to specify why the ticket is on hold, and set up an escalation to ensure tickets are not left on hold indefinitely.</p>
			<p>A ticket can have status <strong>Awaiting Validation</strong> if it has been submitted by a user who needs to be validated by an agent or to validate their own email address (these validation requirements depend on your settings under <strong>CRM &gt; Registration</strong>).</p>
			<p>Tickets can also have their status set to <strong>Spam</strong> or <strong>Deleted</strong>. You can set how long spam or deleted tickets are kept before they are automatically deleted.</p>
			<p>You can also enable <strong>archiving</strong> of old, resolved tickets. For very large helpdesks with millions of tickets, archiving can greatly improve performance.</p>
			<p>When an old ticket is archived it is moved into the <strong>Archived</strong> section. You can still view archived tickets and agents with permission can restore archived tickets.</p>
		</section>

		<section>
			<h2><span>FAQ</span></h2>
			<dl>
				<dt><em>Q:</em> Can I have a custom status?</dt>
				<dd><em>A:</em>
					No. Being able to add extra statuses would break the core flow of how DeskPRO handles tickets.
					If you wish to track the state of a ticket more closely, we recommend you use the <strong>Workflow</strong> field.
				</dd>

				<dt><em>Q:</em> My helpdesk is slow; should I enable archiving?</dt>
				<dd><em>A:</em> DeskPRO can handle the ticket volume of the vast majority of helpdesks.
					Archiving is only likely to improve performance if you have over a million resolved tickets.
					If you have fewer than that and your helpdesk is slow, you should check your internet connectivity
					(for Cloud customers) or the server configuration of your DeskPRO installation
					(for Download customers).
				</dd>
			</dl>
		</section>
	</article>
{% endblock %}
