{% extends 'AdminInterfaceBundle:Layout:list-editpane.html.twig' %}
{% block editpane_content %}
	<section class="dp-paneblock dp-editpane">
		<article>
			<div class="panel panel-fill indent">
				<div class="panel-body">
					<p>The Awaiting Agent status means the ticket is waiting for attention from one of your agents.</p>
					<p>
						You currently have <strong>{{ ng_var('getCount()') }}</strong> tickets awaiting agent.
					</p>
				</div>
			</div>
		</article>
	</section>
{% endblock %}