{% extends 'AdminInterfaceBundle:Layout:list-editpane.html.twig' %}
{% block editpane_content %}
	<section class="dp-paneblock dp-editpane">
		<article>
			<div class="panel panel-fill indent">
				<div class="panel-body">
					<p>
						When a user tries to create a new ticket but needs to validate his or her email address,
						their ticket is held in the validation queue until they finish validating.
					</p>
					<p>
						You currently have <strong>{{ ng_var('getCount()') }}</strong> tickets awaiting validation.
					</p>
				</div>
			</div>
		</article>
	</section>
{% endblock %}