{% extends 'AdminInterfaceBundle:Layout:list-editpane.html.twig' %}
{% block editpane_content %}
	<section class="dp-paneblock dp-editpane">
		<article>
			<div class="panel panel-fill indent">
				<div class="panel-body">
					<p>
						For very large helpdesks with millions of tickets, archiving can greatly improve performance of the agent interface and filters.
					</p>
					<p>
						When an old ticket is archived it is moved out of your filters and into the 'Archived' section. You can still view archived tickets and agents with permission can restore archived tickets
					</p>
					<p ng-if="settings.enabled || getCount() > 0">
						You currently have <strong>{{ ng_var('getCount()') }}</strong> archived tickets.
					</p>
				</div>
			</div>
		</article>
	</section>

	<form class="form-horizontal dp-form" role="form" name="form_props" ng-submit="TicketStatusEdit.saveSettings()">
		<section class="dp-paneblock dp-editpane">
			<article class="form-horizontal dp-form">
				<div class="panel panel-fill indent">
					<div class="panel-body">
						<div class="form-group">
							<div class="col-lg-3">
								<h3>Enabled</h3>
							</div>
							<div class="col-lg-9">
								<button dp-toggle-switch ng-model="settings.enabled"></button>
							</div>
						</div>

						<div class="form-group" ng-if="settings.enabled">
							<div class="col-lg-3">
								<h3>Auto-Archive</h3>
							</div>
							<div class="col-lg-9">
								<p>
									Automatically move resolved ticket to the archive after
									<br/>
									<select dp-closest-number ng-model="settings.auto_archive_time" ui-select2="{dropdownAutoWidth:true}">
										<option value="86400">1 day</option>
										<option value="259200">3 days</option>
										<option value="432000">5 days</option>
										<option value="604800">1 week</option>
										<option value="1209600">2 weeks</option>
										<option value="1814400">3 weeks</option>
										<option value="2592000">1 month</option>
										<option value="5184000">2 months</option>
										<option value="7776000">3 months</option>
										<option value="15552000">6 months</option>
										<option value="23328000">9 months</option>
										<option value="31536000">1 year</option>
										<option value="63072000">2 years</option>
									</select>
								</p>
							</div>
						</div>
					</div>
				</div>
			</article>
			<footer>
				<div class="dp-content">
					<div class="text-danger ng-hide" ng-show="form_props.$attempted && form_props.$invalid">
						<p><strong>{{phrase('adm.general.please_correct_errors')}}</strong></p>
						<ul>
							<li ng-show="form_props.label.$error.required">{{phrase('adm.general.label_edit_error')}}</li>
						</ul>
					</div>
					<div class="dp-btn-controls" ng-hide="form_props.$attempted && form_props.$invalid">
						<div dp-hide-spinning="saving_settings">
							<button class="btn btn-primary" dp-submit-form>{{phrase('agent.general.save')}}</button>
						</div>
						<div dp-show-spinning="saving_settings">
							<i class="spinner-flat"></i>
						</div>
					</div>
				</div>
			</footer>
		</section>
	</form>
{% endblock %}