{% extends 'AdminInterfaceBundle:Layout:list.html.twig' %}
{% block listpane_content %}
	<section class="dp-paneblock dp-listpane">
		<header>
			<nav>
				<span class="status-pinger saved-ping" dp-ping-flash="display_orders"><i class="fa fa-check-square-o-square"></i> {{ phrase('agent.general.saved') }}</span>
			</nav>
			<h3 ng-pluralize count="ListCtrl.deps.length || 0" when="{{ ng_plural_phrase('adm.general.x_departments') }}"></h3>
		</header>
		<article>
			<ul class="dp-item-list" ui-sortable="ListCtrl.sortedListOptions" dp-list-autoload>
				<li class="with-drag-handle" ng-repeat="dep in ListCtrl.depList" dp-state-mark="tickets.ticket_deps.edit.{{ ng_var('dep.id') }}" data-id="{{ ng_var('dep.id') }}">
					<a href="{{ ng_href('tickets.ticket_deps.edit', '{id: dep.id}') }}">
						<i class="fa fa-bars drag-handle"></i>
						<div class="pull-right">
							<span class="btn btn-danger btn-xs only-icon" ng-show="delete_mode" style="margin-top: -3px;" ng-click="$event.preventDefault(); ListCtrl.startDelete(dep);"><i class="fa fa-trash-o"></i></span>
						</div>
						<h4><span class="title-text">{{ ng_var('dep.title') }}</span></h4>
					</a>
					<ul class="dp-item-list sublist" ng-show="dep.children.length" ui-sortable="ListCtrl.sortedListOptions">
						<li class="with-drag-handle" ng-repeat="subdep in dep.children" dp-state-mark="tickets.ticket_deps.edit.{{ ng_var('subdep.id') }}" data-id="{{ ng_var('subdep.id') }}">
							<a href="{{ ng_href('tickets.ticket_deps.edit', '{id: subdep.id}') }}">
								<i class="fa fa-bars drag-handle"></i>
								<div class="pull-right">
									<span class="btn btn-danger btn-xs only-icon " ng-show="delete_mode" style="margin-top: -3px;" ng-click="$event.preventDefault(); ListCtrl.startDelete(subdep);"><i class="fa fa-trash-o"></i></span>
								</div>
								<h4>
									<span class="tree-char middle" ng-if="!$last"></span>
									<span class="tree-char last" ng-if="$last"></span>
									<span class="title-text">{{ ng_var('subdep.title') }}</span>
								</h4>
							</a>
						</li>
					</ul>
				</li>
			</ul>
			<div class="dp-add-control">
				<a class="btn btn-default" ng-class="{'active': isStateActive('.create') }" href="{{ ng_href('tickets.ticket_deps.gocreate') }}" dp-list-autoload autoload-priority="2"><i class="fa fa-plus"></i> New Department</a>
			</div>

			<div class="dp-empty-list-notice" ng-show="ListCtrl.deps.length == 1">
				<p>
					{{ phrase('adm.departments.not_user_visible') }}
				</p>
			</div>
		</article>
	</section>

	<div dp-register-message="no_delete_last">{{ phrase('adm.departments.no_delete_last') }}</div>
{% endblock %}
{% block listpane_help %}
	<header>
		<h1>Departments are a way to divide up the helpdesk and control access.</h1>
		<p>The <strong>department</strong> field is powerful and has many functions. You can use departments to limit agent and user access, or to customize ticket fields.</p>
	</header>

	<article>
		<section>
			<p>
				Here are some important features of the department field:
			</p>
			<ul>
				<li>Department is the default grouping field for tickets in the Agent Interface.</li>
				<li>Agent ticket permissions are based upon departments; you can create agents that can view some tickets but not others.</li>
				<li>User ticket permissions are based upon departments; you can set a usergroup so that it can create tickets in some departments but not others.</li>
				<li>Departments control the fields shown in the form that a user or agent uses to create a ticket. Different departments can have different custom form layouts - change them in the <strong>Layout</strong> tab.</li>
				<li>You can set a user-facing department name to be displayed only to users e.g. agents see "Terms of Service Violations", while users see "Support".</li>
				<li>You can have a direct one-to-one link between departments (e.g. Sales) and email accounts (e.g. <code>sales@yourdomain.com</code>).</li>
				<li>Each ticket will always have a department - it is the only required field in DeskPRO.</li>
			</ul>
		</section>

		<section>
			<h2><span>FAQ</span></h2>
			<dl>
				<dt><em>Q:</em> How many departments can I have?</dt>
				<dd><em>A:</em>
					You can have an unlimited number of departments. Typically, companies will have less than ten departments, but you can structure your departments as you feel suitable.
				</dd>

				<dt><em>Q:</em>Can I use sub-departments/child departments?</dt>
				<dd><em>A:</em>
					Yes. A department can have sub-departments, e.g. the "Support" department can contain "Support Tier 1" and "Support Tier 2".<br/>
					Note that you can't assign tickets to a department if it contains sub-departments;  you must assign to the sub-departments. In the example above, you could assign tickets to "Support Tier 1" and "Support Tier 2", but not to the parent-level "Support".
				</dd>

				<dt><em>Q:</em>I don't need departments - can I disable the field?</dt>
				<dd><em>A:</em>
					Tickets always have a department, but if you only have one department defined, it will not be shown to users, effectively disabling the field.
				</dd>


				<dt><em>Q:</em>Can I have multiple departments linked to a single email address?</dt>
				<dd><em>A:</em>
					Yes. You can only create one-to-one links between departments and ticket accounts when managing departments, but you can use <strong>triggers</strong> to have multiple departments linked to a single email address.
				</dd>

				<dt><em>Q:</em>What is the difference between chat departments and ticket departments?</dt>
				<dd><em>A:</em>
					Like the ticket department, chat departments are the key field for grouping chats. The two types of departments are not linked together - you can have different departments for tickets and chats.
				</dd>
			</dl>
		</section>
		
		<section>
		
			<h2><span>Related Knowledgebase Articles</span></h2>

				<ul>
    					<li><a href="https://support.deskpro.com/kb/articles/181" target="_blank">Ticket assignment workflows in DeskPRO</a></li>
    
				</ul>
        	</section>
	</article>
{% endblock %}
