{% macro grouping_field_select(model_name, options)%}
	<span class="drop-option">
		<i></i>
		<select
				ui-select2
				ng-model="{{ model_name }}.grouping_field"
				style="min-width: 120px"
				class="no-search"
				ng-change="Overview.getStats('{{ model_name }}')"
				>

			{% if options.none %}
				<option value="">None</option>
			{% endif %}

			<optgroup label="Ticket Fields">
			<option value="department">Department</option>
			<option value="agent">Agent</option>

			{% if app.agent_teams.getTeamNames() %}
				<option value="agent_team">Agent Team</option>
			{% endif %}
			{% if app.getDataService('TicketCategory').getNames() %}
				<option value="ticket_category">Category</option>
			{% endif %}
			{% if app.getDataService('TicketWorkflow').getNames() %}
				<option value="ticket_workflow">Workflow</option>
			{% endif %}
			{% if app.getDataService('TicketPriority').getNames() %}
				<option value="ticket_priority">Priority</option>
			{% endif %}

			<option value="ticket_urgency">Urgency</option>

			{% if app.products.getNames() %}
				<option value="product">Product</option>
			{% endif %}
			{% if app.languages.getTitles() %}
				<option value="language">Language</option>
			{% endif %}

			{% for field_def in app.getCustomFieldManager('tickets').getFields() %}
				<option value="ticket_field.{{ field_def.id }}">{{ field_def.title }}</option>
			{% endfor %}
			</optgroup>
			<optgroup label="User Fields">
				<option value="user">User</option>
				<option value="organization">Organization</option>
				<option value="usergroup">Usergroup</option>
				{% for field_def in app.getCustomFieldManager('people').getFields() %}
					<option value="user_field.{{ field_def.id }}">{{ field_def.title }}</option>
				{% endfor %}
			</optgroup>
		</select>
	</span>
{% endmacro %}