<section class="report-wrapper" ng-if="tickets_sla_status.values">
	<header>
		<div style="float: left; padding-bottom: 5px;">
			<select ui-select2 ng-model="tickets_sla_status.sla_id" style="min-width: 120px" class="no-search"
					ng-change="Overview.getStats('tickets_sla_status')">
				<option value="0">All SLAs</option>
				{% for sla in app.getDataService('Sla').getAllSlas() %}
					<option value="{{ sla.id }}">
						{{ sla.title }}
					</option>
				{% endfor %}
			</select>
		</div>

		<h2 style="float: left;">for Tickets Created</h2>

		<div style="float: left; padding-bottom: 5px;">
			<select ui-select2 ng-model="tickets_sla_status.date_choice" style="min-width: 120px" class="no-search"
					ng-change="Overview.getStats('tickets_sla_status')">
				{% for field,title in {
					'today': 'Today',
					'this_week': 'This Week',
					'this_month': 'This Month',
					'this_year': 'This Year',
				} %}
					<option value="{{ field }}">
						{{ title }}
					</option>
				{% endfor %}
			</select>
		</div>

		<div class="clearfix"></div>

		<h3>Showing Grouped by Status</h3>
	</header>
	<article>
		<div class="dp-layout-loading" ng-show="tickets_sla_status.loading"><i></i></div>
		<table class="stat-table" width="100%" ng-if="!tickets_sla_status.empty" ng-hide="tickets_sla_status.loading">
			<tr ng-repeat="stat in tickets_sla_status.stats">
				<td class="title"><span>{{ ng_var('stat.title') }}</span></td>
				<td width="100%">
					<table width="100%" class="stat-value">
						<tr>
							<td class="value" width="{{ ng_var('stat.left_percentage') }}%">
								<div>&nbsp;</div>
							</td>
							<td width="{{ ng_var('stat.right_percentage') }}%">
								{{ ng_var('stat.value') }}
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr class="total-row">
				<td class="title">Total:</td>
				<td class="val">{{ ng_var('tickets_sla_status.sum') }}</td>
			</tr>
		</table>
		<div class="no-data" ng-if="tickets_sla_status.empty" ng-hide="tickets_sla_status.loading">
			<h3>No matching data</h3>
		</div>
	</article>
</section>