<header>
	<h1>The role of the Ticket Status field is determining whom needs to work on a ticket next.</h1>
	<p>
		DeskPRO is based on the back and forth communication between people with questions (Users) and people with answers to those questions (Agents). The status field is used to determine which type of person needs to respond to the ticket next.
	</p>
</header>
<article>
	<article>
		<p>
			There are 3 core ticket statuses to determine this:
		</p>
		<ul>
			<li><strong>Awaiting Agent</strong> The ticket requires a response from an Agent. DeskPRO is based around helping agents work on and respond to these tickets.</li>
			<li><strong>Awaiting User</strong> The ticket requires a response from a User. Typically this will be because the Agent has replied and is either awaiting further information or has fixed the problem and is awaiting confirmation that the problem is fixed.</li>
			<li><strong>Resolved</strong> The ticket is completed and does not require any further response.</li>
		</ul>
		<p>
			You can not create new Statuses in DeskPRO. If you wish to further delinate the state of the ticket we recommend that you use the Workflow field.
		</p>
		<p>
			You can enable a sub-status called "On Hold". This status only applies to tickets "Awaiting Agent". The purpose of this status is to hide tickets from the default Agent Interface view that the Agent can not reply to right now (e.g. awaiting on feedback from a partner). The field is typically used with the Workflow field to specify why the ticket is "On Hold" and often in combination with an Escalation to periodically remove the On Hold status to ensure tickets are not ignored.
		</p>
		<p>
			Tickets can also have the status "Spam" if they have been marked as Spam and "Recycle Bin" if they have been deleted. Finally tickets can be "Awaiting Validation" if they have been submitted by a user whom either needs to be validated by an Agent or to validate their own email address - depending upon your [settings].
		</p>
	</article>

	<article>
		<h3>Related Knowledgebase Articles</h3>
		<ul>
			<li>XXX</li>
		</ul>
	</article>
</article>