{% extends 'AdminInterfaceBundle:Layout:list-editpane.html.twig' %}
{% block editpane_content %}
	<form class="form-horizontal dp-form" role="form" name="form_props" ng-submit="">
		<section class="dp-paneblock dp-editpane">
			<article class="form-horizontal dp-form">
				<div class="panel-body">
					<div class="panel panel-fill indent">
						<p>
							DeskPRO handles users and accounts itself by default. Users can register (or be created by agents),
							users can set passwords, have profile picutres etc.
						</p>
					</div>
				</div>
			</article>
		</section>
	</form>
{% endblock %}