<dp:subject>{{ phrase('agent.emails.name_reset_your_password', {name: performer.display_name}) }}</dp:subject>
{{ phrase('agent.emails.name_reset_your_password', {name: performer.display_name}) }}

<br/><br/>

<strong>{{ phrase('agent.emails.login_url') }}:</strong> <a href="{{ app.getSetting('core.deskpro_url') }}agent/">{{ app.getSetting('core.deskpro_url') }}agent/</a><br />
<strong>{{ phrase('agent.general.your_email_address') }}:</strong> {{ agent.primary_email_address }}<br />
<strong>{{ phrase('agent.general.new_password') }}:</strong> {{ agent.getPlaintextPassword() }}

<br/><br/>

{{ phrase('agent.emails.change_password_instructions') }}