<header>
	<h1>Twitter Accounts</h1>

	<p>
		<strong>Add Twitter accounts to use with DeskPRO</strong>
	</p>
</header>

<article>
	<h3>Related Knowledgebase Articles</h3>
	<ul>
		<li><a href="https://support.deskpro.com/kb/articles/143">Managing Twitter Accounts</a></li>
	</ul>
</article>
