{% extends 'AdminInterfaceBundle:Layout:list.html.twig' %}
{% block listpane_content %}

	<section class="dp-paneblock dp-listpane">
		<header>
			<nav>
				<span dp-ping-flash="display_orders" class="saved-ping"><i class="fa fa-check-square-o-square"></i> {{ phrase('agent.general.saved') }}</span>
			</nav>

			<h3 ng-pluralize count="ListCtrl.custom_fields.length || 0"
				when="{{ ng_plural_phrase('adm.general.count_custom_fields') }}"></h3>
		</header>
		<article>
			<ul class="dp-item-list" ui-sortable="ListCtrl.sortedListOptions">
				<li ng-repeat="field in ListCtrl.custom_fields"
					class="with-drag-handle"
					dp-state-mark="crm.org_fields.edit.{{ ng_var('field.id') }}"
					data-id="{{ ng_var('field.id') }}">
					<a href="{{ ng_href('crm.org_fields.edit', '{id: field.id}') }}">
						<i class="fa fa-bars drag-handle"></i>
						<div class="pull-right">
							<em class="tag tag-warn" ng-show="!field.is_enabled">Disabled</em>
						</div>
						<h4><span class="title-text">{{ ng_var('field.title') }}</span></h4>
					</a>
				</li>
			</ul>
			<div class="dp-add-control">
				<a class="btn btn-default" href="{{ ng_href('crm.org_fields.gocreate') }}"
				   ng-class="{'active': isStateActive('.create') }">
					<i class="fa fa-plus"></i>
					{{ phrase('agent.general.add') }}
				</a>
			</div>
		</article>
	</section>
{% endblock %}
{% block listpane_help %}
	<header>
		<h1>You can add custom fields to organization records to store extra information about organizations</h1>
		<p>When you define a custom field, you choose how agents and users select values (e.g. text entry, radio buttons etc.).</p>
	</header>
	<article>
		<section>
			<p>Once you've defined a custom organization field, you can update it with <strong>triggers</strong>, <strong>escalations</strong>, <strong>macros</strong> or <strong>SLAs</strong>, as well as agent input.</p>
		</section>
	</article>
{% endblock %}