<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="robots" content="NOINDEX" />
	<meta http-equiv="X-UA-Compatible" content="IE=100" />

	{% include 'AgentBundle:Main:page-vars.html.twig' %}
	{% include 'AgentBundle:Main:resources.html.twig' with {'in_body': true} %}
</head>
<body class="user-frame-screen">

<div class="frame-container">
	<div class="inner-container">
		<iframe src="{{ path('user') }}" frameborder="0" width="100%" height="100%" scrolling="auto" marginheight="0" marginwidth="0"></iframe>
	</div>
</div>


</body>
</html>
