<dp-optionbuilder-row>
	<div class="dp-ob-standard-row">
		<label>Day of week</label>
		<div class="dp-workhours">
			<div class="days-wrap">
				<label><input type="checkbox" value="1" /> Monday</label>
				<label><input type="checkbox" value="2" /> Tuesday</label>
				<label><input type="checkbox" value="3" /> Wednesday</label>
				<label><input type="checkbox" value="4" /> Thursday</label>
				<label><input type="checkbox" value="5" /> Friday</label>
				<label><input type="checkbox" value="6" /> Saturday</label>
				<label><input type="checkbox" value="0" /> Sunday</label>
			</div>
		</div>
	</div>
</dp-optionbuilder-row>