{{ dp_app_loc(baseId, 'right_col.top') }}

{# Box Contact #}
{{ dp_app_loc(baseId, 'contact.before') }}
<div class="profile-box-container contact">
	<header>
		{% if app.user.hasPerm('agent_org.edit') %}
			<span class="edit-gear contact-edit"></span>
		{% endif %}
		<nav data-element-handler="DeskPRO.ElementHandler.SimpleTabs">
			<ul>
				<li data-tab-for="#{{ baseId }}_contact_body">{{ phrase('agent.people.contact_info') }}</li>
			</ul>
		</nav>
	</header>
	<section>
		<div id="{{baseId}}_contact_body">
			<div class="table-content contact-list contact-list-wrapper">
				{% include 'AgentBundle:Organization:view-contact-display.html.twig' %}
			</div>
		</div>
		{{ dp_widget_tabs(baseId, 'organization', 'contact', 'section', org_api) }}
	</section>
</div>
{{ dp_app_loc(baseId, 'contact.after') }}
{# /Box Contact #}

{# Properties Box #}
{{ dp_app_loc(baseId, 'properties.before') }}
<div class="profile-box-container properties" id="{{baseId}}_properties_box">
	<header>
		{% if app.user.hasPerm('agent_org.edit') %}
			<div class="controls">
				<span class="edit-gear prop-edit-trigger"></span>
				<div class="is-loading">{{ phrase('agent.general.saving') }}</div>
				<button class="cancel" style="display: none">{{ phrase('agent.general.cancel') }}</button>
				<button class="save" style="display: none">{{ phrase('agent.general.save') }}</button>
			</div>
		{% endif %}
		<nav data-element-handler="DeskPRO.ElementHandler.SimpleTabs">
			<ul>
				<li data-tab-for="#{{ baseId }}_properties_body">{{ phrase('agent.general.properties') }}</li>
			</ul>
		</nav>
	</header>
	<section>
		<div id="{{baseId}}_properties_body">
			{{ dp_app_loc(baseId, 'properties.body.before') }}

			{% if custom_fields|length %}
				<dl class="table-list" id="{{baseId}}_custom_fields_rendered">
					{% include 'AgentBundle:Organization:view-customfields-rendered-rows.html.twig' %}
				</dl>
				<dl class="table-list" id="{{baseId}}_custom_fields_editable" style="display: none">
					{% include 'AgentBundle:Organization:view-customfields-edit-rows.html.twig' %}
				</dl>
				<br class="clear" />
			{% endif %}

			<div>
				<dl class="table-list">
					<dt class="type-labels">{{ phrase('agent.general.date_created') }}</dt>
					<dd>
						<time class="timeago" datetime="{{org.date_created|date('c', 'UTC')}}">{{ org.date_created|date('day') }}</time>
					</dd>
				</dl>
				<br class="clear" />
			</div>

			{{ dp_app_loc(baseId, 'properties.body.after') }}
		</div>
	</section>
	{{ dp_app_loc(baseId, 'properties.tab') }}
</div>
{{ dp_app_loc(baseId, 'properties.after') }}
{# /Properties Box #}

{# Email Associations Box #}
{{ dp_app_loc(baseId, 'email_assoc.before') }}
<div id="{{baseId}}_email_assoc_box">
	{% include 'AgentBundle:Organization:orgemail-display.html.twig' %}
</div>
{{ dp_app_loc(baseId, 'email_assoc.after') }}

{# Usergroup Box #}
{% if app.usergroups.getUsergroupNames() %}
	{{ dp_app_loc(baseId, 'usergroups.before') }}
	<div class="profile-box-container summary {% if org.getUsergroups()|length < 1 %}no-section{% endif %}" id="{{baseId}}_ug_box">
		<header>
			{% if app.user.hasPerm('agent_org.edit') %}
			<div class="controls">
				<span class="edit-gear edit-trigger"></span>
				<div class="is-loading">{{ phrase('agent.general.saving') }}</div>
				<button class="cancel cancel-trigger" style="display: none">{{ phrase('agent.general.cancel') }}</button>
				<button class="save save-trigger" style="display: none">{{ phrase('agent.general.save') }}</button>
			</div>
			{% endif %}
			<nav data-element-handler="DeskPRO.ElementHandler.SimpleTabs">
				<ul>
					<li data-tab-for="#{{ baseId }}_usergroups_body">{{ phrase('agent.general.usergroups') }}</li>
				</ul>
			</nav>
		</header>
		<section>
			<div id="{{baseId}}_usergroups_body" {% if org.getUsergroups()|length < 1 %}style="display:none"{% endif %}>
				<div id="{{baseId}}_ug_display_box" class="contact-list">
					<ul>
						{% for id,name in app.usergroups.getUsergroupNames() %}
							<li class="ug-row ug-row-{{ id }}" {% if not org.usergroups[id] %}style="display: none"{% endif %}>{{ name }}</li>
						{% endfor %}
					</ul>
				</div>
				<div id="{{baseId}}_ug_edit_box" class="contact-list" style="display: none;">
					<ul>
						{% for id,name in app.usergroups.getUsergroupNames() %}
							<div>
								<label><input type="checkbox" value="{{ id }}" name="usergroup_ids[]" class="ug-check ug-check-{{ id }}" {% if org.usergroups[id] %}checked="checked"{% endif %} /> {{ name }}</label>
							</div>
						{% endfor %}
					</ul>
				</div>
			</div>
		</section>
		{{ dp_app_loc(baseId, 'usergroups.tab') }}
	</div>
	{{ dp_app_loc(baseId, 'usergroups.after') }}
{% endif %}
{# /Usergroup Box #}

{{ dp_app_loc(baseId, 'right_col.bottom') }}