{% extends 'AdminInterfaceBundle:Layout:list-editpane.html.twig' %}
{% block editpane_content %}
	<form class="form-horizontal dp-form" role="form" name="form_props" ng-submit="EditCtrl.saveForm()">
		<section class="dp-paneblock dp-editpane">

			<nav class="dp-blocktabs">
				<ul>
					<li class="active" dp-tab-btn="main.props"><a href="#"><i class="fa fa-pencil"></i> {{ phrase('agent.general.properties') }}</a></li>
					<li class="pipe">|</li>
					<li dp-tab-btn="main.perms"><a href="#"><i class="fa fa-key"></i> Permissions</a></li>
					<li class="pipe">|</li>
					<li dp-tab-btn="main.deps"><a href="#"><i class="fa fa-key"></i> Departments</a></li>
				</ul>
			</nav>

			<article class="form-horizontal dp-form">
				<div dp-tab-body="main.props">
					{% include 'AdminInterfaceBundle:AgentGroups:edit-props.html.twig' %}
				</div>
				<div dp-tab-body="main.perms">
					{% include 'AdminInterfaceBundle:AgentGroups:edit-perms.html.twig' %}
				</div>
				<div dp-tab-body="main.deps">
					{% include 'AdminInterfaceBundle:AgentGroups:edit-deps.html.twig' %}
				</div>
			</article>

			<footer>
				<div class="dp-content">
					<div class="text-danger ng-hide" ng-show="form_props.$attempted && form_props.$invalid">
						<p><strong>{{phrase('adm.general.please_correct_errors')}}</strong></p>
						<ul>
							<li ng-show="form_props.group.$error.required || form_props.group.$error.not_blank">Please enter a name</li>
						</ul>
					</div>

					<div class="dp-delete-control" ng-if="EditCtrl.group.id">
						<button class="btn btn-danger" ng-click="$event.preventDefault(); EditCtrl.showDelete();">Delete</button>
					</div>

					<div class="dp-btn-controls" ng-hide="form_props.$attempted && form_props.$invalid">
						<div dp-hide-spinning="form_saving">
							<button class="btn btn-primary" dp-submit-form>{{phrase('agent.general.save')}}</button>
						</div>
						<div dp-show-spinning="form_saving">
							<i class="spinner-flat"></i>
						</div>
					</div>
				</div>
			</footer>
		</section>
	</form>
	<div dp-register-message="saved_group">{{ ng_var('EditCtrl.group.title') }} was saved successfully</div>
	{{ ng_tpl('AdminInterfaceBundle:AgentGroups:delete-modal.html.twig') }}
{% endblock %}