.export-jira {
	.box-sizing {
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box;    /* Firefox, other Gecko */
		box-sizing: border-box;         /* Opera/IE 8+ */
	}

	.row {	
		.box-sizing;
		display: table;
		overflow: hidden;
		padding: 0 20px 0 0;
		width: 100%;
	}

	.bold {
		font-weight: bold;
	}

	.left {
		float: left;
	}

	.right {
		float: right;
	}
	
	.gray {
		color: #666;
	}

	label {
		.left;
		.bold;
	}

	.select2-container {
		float: right;
		margin-right: 10px;
	}

	ul.select2-results {
		img.icon {
			margin: 5px;
			padding: 10px;
		}
	}
	
	.instruction {
		.gray;
		font-size: smaller;
		font-weight: normal;

		.smart-tags {
			list-style-type: decimal;
			margin: 0 0 0 30px;
		}
	}
	
	a.select2-choice {
		img.icon {
			padding: 0px;
			margin: 5px 5px 0px 0px;
			.left;
		}
	}

	.select2-result-label {
		img.icon {
			padding: 0px;
			margin: 0px 5px 0px 0px;
			.left;
		}
	}
	
	.dpe_select {
		.right;
		padding-right: 10px;
	}

	label.description {
		width: 20%;
	}

	textarea#description {
		width: 100%; 
		height: 175px;
	}
	
	.overlay-footer {
		text-align: right;
		padding: 5px 18px 0 0;
	}
}

#jira-issue-table {
	th {
		background: none repeat scroll 0 0 #CCCCCC !important;
		border-left: 1px solid #BBBBBB;
		padding: 5px 10px !important;
		text-align: justify;
	}
	tr {
		border-bottom: 1px solid #CCCCCC !important;
	}
	.icon-comment, .icon-remove {
		cursor: pointer;
	}
}