{% extends 'ReportsInterfaceBundle:Layout:fill-page.html.twig' %}

{% block fillpage_content %}

	<nav class="dp-blocktabs">
		<ul>
			<li class="active" dp-tab-btn="ticket.satisfaction.feed" ng-click="Ctrl.switchToFeed()">
				<a href="#">
					<i class="fa fa-pencil"></i> Feed
				</a>
			</li>
			<li class="pipe">|</li>
			<li dp-tab-btn="ticket.satisfaction.summary" ng-click="Ctrl.switchToSummary()">
				<a href="#">
					<i class="fa fa-users"></i> Summary
				</a>
			</li>
		</ul>
	</nav>

	<div dp-tab-body="ticket.satisfaction.feed">
		<div class="panel panel-fill indent">
			<section class="padd clearfix">
				<div class="dp-btn-pagination pull-left" ng-show="Ctrl.num_pages > 1">
					<span dp-show-spinning="loading_feed_results" class="padd">
						<i class="spinner-flat"></i>
					</span>
					<button class="btn" ng-show="Ctrl.page != 1" ng-click="Ctrl.goPrevPage()">
						&lt; Prev
					</button>
					<select
							ng-model="Ctrl.page"
							ui-select2
							style="width: 130px;"
							ng-change="Ctrl.changePage()"
							>
						<option ng-repeat="page in Ctrl.page_nums" value="{{ ng_var('page') }}">
							Page {{ ng_var('page') }}
						</option>
					</select>
					<button class="btn" ng-show="Ctrl.page < Ctrl.num_pages"
							ng-click="Ctrl.goNextPage()">
						Next &gt;
					</button>
				</div>
			</section>
			<section class="padd" ng-bind-html="Ctrl.feed_html" dp-hide-spinning="loading_feed_results">

			</section>
		</div>
	</div>

	<div dp-tab-body="ticket.satisfaction.summary">
		<div class="panel panel-fill indent">
			<span dp-show-spinning="loading_summary_results" class="padd">
				<i class="spinner-flat"></i>
			</span>

			<section class="padd clearfix" ng-bind-html="Ctrl.summary_html" dp-hide-spinning="loading_summary_results">

			</section>
		</div>
	</div>


{% endblock %}