{% if feedback is empty %}
	<p>There is no feedback.</p>
{% else %}
	{% for f in feedback %}
		<div class="feedback-table check-grid item-list">
			<table cellspacing="0" cellpadding="0" width="100%">
				<thead>
					<tr>
						<th>
							<span style="float:right">
								<time class="timeago" datetime="{{ f.date_created|date('c') }}"></time>
							</span>

							<h3>
								Ticket #{{ f.ticket.id }}:
								<a href="{{ app.request.getBaseUrl() }}/agent/#app.tickets,t:{{f.ticket.id}}">{{ f.ticket.subject }}</a>
							</h3>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<table cellspacing="0" cellpadding="0" width="100%">
								<tr>
									<td width="70%" style="padding: 0">
										<a
											class="user-link"
											style="background-image: url({{ f.ticket.person.getPictureUrl(24) }})"
											href="{{ app.request.getBaseUrl() }}/agent/#app.people,p:{{f.ticket.person.id}}"
										>{{ f.ticket.person.name }} &lt;{{ f.ticket.person.email_address }}&gt;</a>
										<div class="user-message rating-{% if f.rating == 1 %}up{% elseif f.rating == -1 %}down{% else %}neutral{% endif %}">
												<i>
													{% if f.rating == 1 %}
														☺
													{% elseif f.rating == -1 %}
														☹
													{% else %}
														&mdash;
													{% endif %}
												</i>
											{% if not f.message %}<em>User did not leave a message.</em>{% else %}{{ f.message }}{% endif %}
										</div>
									</td>
									<td width="30%">
										<strong>Agent:</strong><br />
										<a
											class="user-link"
											style="background-image: url({{ f.ticket_message.person.getPictureUrl(24) }})"
											href="{{ app.request.getBaseUrl() }}/agent/#app.people,p:{{f.ticket_message.person.id}}"
										>{{ f.ticket_message.person.name }}</a>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	{% endfor %}
{% endif %}