<div class="reports_agent_feedback_summary_section">
    <table>
        <tr>
            <td class="border-right datepicker-cell">{{ view_date.format('M Y') }}</td>
            {% for agent in agents %}
                <th class="{% if not loop.last %}border-right{% endif %}" colspan="3">{{ agent.getDisplayName() }}</th>
            {% endfor %}
        </tr>
        {% for i,day in days %}
            <tr>
                <td class="border-right left-column">{{ day|date('jS') }}</td>

                {% for agent in agents %}
                    <td class="{% if not summary[i][agent.id][1] %}no-feedback{% endif %}">
						<div>
							<i class="rating positive">☺</i>
							{{ summary[i][agent.id][1]|default(0) }}
						</div>
                    </td>
					<td class="{% if not summary[i][agent.id][0] %}no-feedback{% endif %}">
						<div>
							<i class="rating neutral">&mdash;</i>
							{{ summary[i][agent.id][0]|default(0) }}
						</div>
                    </td>
                    <td class="{% if not loop.last %}border-right{% endif %} {% if not summary[i][agent.id][-1] %}no-feedback{% endif %}">
						<div>
							<i class="rating negative">☹</i>
							{{ summary[i][agent.id][-1]|default(0) }}
						</div>
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        <tr class="border-top">
            <td class="border-right left-column">Total</td>
            {% for agent in agents %}
                <td class="{% if not totals[agent.id][1] %}no-feedback{% endif %}">
					<div>
						<i class="rating positive">☺</i>
						{{ totals[agent.id][1]|default(0) }}
					</div>
                </td>
				<td class="{% if not totals[agent.id][0] %}no-feedback{% endif %}">
					<div>
						<i class="rating neutral">&mdash;</i>
						{{ totals[agent.id][0]|default(0) }}
					</div>
                </td>
                <td class="{% if not loop.last %}border-right{% endif %} {% if not totals[agent.id][-1] %}no-feedback{% endif %}">
					<div>
						<i class="rating negative">☹</i>
						{{ totals[agent.id][-1]|default(0) }}
					</div>
                </td>
            {% endfor %}
        </tr>
    </table>
    <div class="reports-popup-page-overlay hidden"></div>
</div>