<header>
	<h1>API Keys</h1>

	<p>
	 These API keys are used to allow third-party software to access your DeskPRO data. 
	 You can create, regenerate or delete API keys.
	</p>
</header>

<article>
	<section>


		<h2><span>Related Knowledgebase Articles</span></h2>
		<ul>
			<li><a href="https://support.deskpro.com/kb/17">DeskPRO API</a></li>

	</section>
</article>