{% extends 'AdminInterfaceBundle:Layout:list-editpane.html.twig' %}
{% block editpane_content %}
	<form role="form" name="form_props" ng-submit="FeedbackCategoriesEdit.saveForm()">
		<section class="dp-paneblock dp-editpane">
			<article class="form-horizontal dp-form">
				<div class="panel-body">
					<div class="form-group">
						<div class="col-lg-3">
							<h3>{{ phrase('adm.feedback_categories.title') }} *</h3>
						</div>
						<div class="col-lg-9">
							<div class="inner-group" dp-error-class="form_props.title">
								<input type="text" class="form-control" name="title"
									   ng-model="FeedbackCategoriesEdit.feedback_category.title" style="width: 50%;"
									   required autofocus dp-server-validation="title.not_blank">
							<span class="help-block">
								{{ phrase('adm.feedback_categories.title_explain') }}
							</span>
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-lg-3">
							<h3>{{ phrase('agent.general.parent') }}</h3>
						</div>
						<div class="col-lg-9">
							<select
									ui-select2
									ng-model="FeedbackCategoriesEdit.feedback_category.options.parent_id"
									style="min-width: 240px"
									class="no-search"
									>
								<option value="{{ ng_var('category.id') }}" ng-repeat="category in FeedbackCategoriesEdit.feedback_categories_parent_list">{{ ng_var('category.title') }}</option>
							</select>
						<span class="help-block">
							{{ phrase('adm.feedback_categories.parent_explain') }}
						</span>
						</div>
					</div>
				</div>
			</article>
			<footer>
				<div class="dp-content">
					<div class="text-danger ng-hide" ng-show="form_props.$attempted && form_props.$invalid">
						<p><strong>{{ phrase('adm.general.please_correct_errors') }}</strong></p>
						<ul>
							<li ng-show="form_props.title.$error.required || form_props.title.$error.not_blank">
								{{ phrase('adm.feedback_categories.title_error') }}
							</li>
						</ul>
					</div>

					<div class="dp-btn-controls" ng-hide="form_props.$attempted && form_props.$invalid">
						<div dp-hide-spinning="saving_feedback_category">
							<button class="btn btn-primary" dp-submit-form>{{ phrase('agent.general.save') }}</button>
							<button class="btn btn-default" ng-click="FeedbackCategoriesEdit.resetForm()">{{ phrase('agent.general.reset') }}</button>
						</div>
						<div dp-show-spinning="saving_feedback_category">
							<i class="spinner-flat"></i>
						</div>
					</div>
				</div>
			</footer>
		</section>
	</form>
	<div dp-register-message="saved_feedback_category">{{ ng_var('FeedbackCategoriesEdit.feedback_category.title') }} was saved successfully</div>
{% endblock %}