{% extends 'AdminInterfaceBundle:Layout:list-editpane.html.twig' %}
{% block editpane_content %}
	<form role="form" name="form_props" ng-submit="EditCtrl.saveForm()">
		<section class="dp-paneblock dp-editpane">
			<article class="form-horizontal dp-form">
				<div class="panel panel-fill indent">
					<div class="panel-body" style="margin-bottom: 0; padding-bottom: 0;">
						<div class="form-group">
							<div class="col-lg-2">
								<h3>{{ phrase('agent.general.title') }} *</h3>
							</div>
							<div class="col-lg-10">
								<div class="inner-group" dp-error-class="form_props.title">
									<input type="text" class="form-control" name="title" ng-model="EditCtrl.form.title" style="width: 50%;" required autofocus />
								<span class="help-block">
									{{ phrase('adm.ticket_slas.title_explain') }}
								</span>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-lg-2">
								<h3>Type</h3>
							</div>
							<div class="col-lg-10">
								<select ng-model="EditCtrl.form.sla_type" style="min-width: 200px;" ui-select2="{dropdownAutoWidth:true}">
									<option value="first_response">Time until first response</option>
									<option value="resolution">Time until ticket resolution</option>
									<option value="waiting_time">Use waiting time until ticket resolution</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<div class="col-lg-2">
								<h3>Hours</h3>
							</div>
							<div class="col-lg-10">
								<select ng-model="EditCtrl.form.active_time" ui-select2="{dropdownAutoWidth:true}" style="width: 200px;">
									<option value="all">24x7</option>
									<option value="default">Use default working hours</option>
									<option value="custom">Use custom working hours</option>
								</select>
								<div ng-show="EditCtrl.form.active_time == 'custom'">
									<dp-working-hours ng-model="EditCtrl.form.hours_set"></dp-working-hours>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="panel panel-innertable">
					<div class="panel-heading">
						<h3>
							<span>SLA Warning</span>
						</h3>
					</div>
					<div class="dp-ob-set">
						<p>
							After <dp-time-with-unit ng-model="EditCtrl.form.warn_time" model-type="array"></dp-time-with-unit> the ticket is close to failing and the warning status is applied.
						</p>
						<div class="dp-ob-setrow" style="margin-top: 5px;">
							<header>
								<em class="dp-ob-row-tag then">then</em>
								The following actions will run:
							</header>
							<article>
								<dp-option-builder types-def="EditCtrl.actionsTypeDef" save-target="EditCtrl.form.warn_actions" options="{tag_first: '', tag_after: 'then'}" option-types="actionOptionTypes">
									<add-btn-label>Action</add-btn-label>
								</dp-option-builder>
							</article>
						</div>
					</div>
				</div>

				<div class="panel panel-innertable">
					<div class="panel-heading">
						<h3>
							<span>SLA Failure</span>
						</h3>
					</div>
					<div class="dp-ob-set">
						<p>
							After <dp-time-with-unit ng-model="EditCtrl.form.fail_time" model-type="array"></dp-time-with-unit> the ticket has failed and the failed status is applied.
						</p>
						<div class="dp-ob-setrow" style="margin-top: 5px;">
							<header>
								<em class="dp-ob-row-tag then">then</em>
								The following actions will run:
							</header>
							<article>
								<dp-option-builder types-def="EditCtrl.actionsTypeDef" save-target="EditCtrl.form.fail_actions" options="{tag_first: '', tag_after: 'then'}" option-types="actionOptionTypes">
									<add-btn-label>Action</add-btn-label>
								</dp-option-builder>
							</article>
						</div>
					</div>
				</div>

				<div class="panel panel-innertable">
					<div class="panel-heading">
						<h3>
							<span>SLA Application</span>
						</h3>
					</div>
					<div class="dp-ob-set">
						<p>
							<select ng-model="EditCtrl.form.apply_type" ui-select2 style="width: 300px;">
								<option value="all">Apply to all tickets</option>
								<option value="manual">Agents manually apply the SLA</option>
								<option value="terms">Apply to new tickets that match certain criteria</option>
							</select>
						</p>
						<div ng-show="EditCtrl.form.apply_type == 'terms'" style="margin-top: 4px;">
							<div class="panel panel-innertable" style="padding-top: 0; margin-top: 0; margin-left: 0; margin-right: 0;">
								<div class="dp-ob-set" dp-option-builder-set="{typedef: EditCtrl.criteraTypeDef, template: 'ticket_deps_criteria_setrow', option_types: criteriaOptionTypes }" sets-object="EditCtrl.form.apply_terms">
									<div class="dp-ob-addition-setrow">
										<script type="text/ng-template" id="ticket_deps_criteria_setrow">
											<div class="dp-ob-setrow">
												<div class="fade-overlay"></div>
												<header>
													<div class="remove-btn-wrap">
														<span class="removerow_btn"><i class="fa fa-times-circle"></i></span>
													</div>
													<em class="dp-ob-row-tag if">or</em>
													The following conditions are met:
												</header>
												<article>
													<dp-option-builder types-def="criteria_typedef" save-target="criteria_set_row" options="{tag_first: false, tag_after: 'and'}" option-types="option_types">
														<add-btn-label>Criteria</add-btn-label>
													</dp-option-builder>
												</article>
											</div>
										</script>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</article>
			<footer>
				<div class="dp-content">
					<div class="text-danger ng-hide" ng-show="form_props.$attempted && form_props.$invalid">
						<p><strong>{{phrase('adm.general.please_correct_errors')}}</strong></p>
						<ul></ul>
					</div>
					<div class="dp-delete-control" ng-if="EditCtrl.sla.id">
						<button class="btn btn-danger" ng-click="$event.preventDefault(); $parent.ListCtrl.startDelete(EditCtrl.sla.id);">Delete</button>
					</div>
					<div class="dp-btn-controls" ng-hide="form_props.$attempted && form_props.$invalid">
						<div dp-hide-spinning="saving">
							<button class="btn btn-primary" dp-submit-form>{{phrase('agent.general.save')}}</button>
						</div>
						<div dp-show-spinning="saving">
							<i class="spinner-flat"></i>
						</div>
					</div>
				</div>
			</footer>
		</section>
	</form>
{% endblock %}