<div class="form-group">
	<div class="col-lg-3">
		<h3>{{ phrase('agent.general.email_address') }} *</h3>
	</div>
	<div class="col-lg-9">
		<div class="inner-group" dp-error-class="form_props.title">
			<input type="text" class="form-control" name="title" ng-model="form.address" style="width: 50%;" required autofocus />
			<span class="help-block">
				Enter the main email address for this account.
			</span>
		</div>

		<div class="inner-group">
			<label>
				<input type="checkbox" ng-model="form.with_email_aliases" />
				<h4>This account has additional email addresses associated with it (aliases)</h4>
			</label>
			<div ng-show="form.with_email_aliases">
				<input type="text" class="form-control" ng-model="form.other_addresses" style="width: 50%;" />
				<span class="help-block">
					Enter other email addresses here separated by commas.
				</span>
			</div>
		</div>
	</div>
</div>