{% extends "AdminInterfaceBundle:Layout:widget-modal.html.twig" %}
{% block modal_title %}
	<div style="float:left; position: relative; top: -4px; left: -5px;">
		<img ng-src="{{ ng_var('pack.icon_32') }}" />
	</div>
	<h4 class="modal-title">
		Uninstall "{{ ng_var('app.title') }}"
	</h4>
{% endblock %}
{% block modal_body %}
	<article class="form-horizontal dp-form">
		Are you sure you want to uninstall this app?
	</article>
{% endblock %}
{% block modal_footer %}
	<div ng-hide="is_loading">
		<button class="btn btn-default" ng-click="dismiss()">Cancel</button>
		<button class="btn btn-danger" ng-click="confirm()">Uninstall App</button>
	</div>
	<div ng-show="is_loading">
		<i class="spinner-flat"></i>
	</div>
{% endblock %}