<script type="text/javascript">
	window.DP_ONLOAD = function() {
		$.ajaxPrefilter(function(options, originalOptions, jqXHR) {

			var url = options.url;
			if (url.indexOf('?') == -1) {
				url += '?';
			} else {
				url += '&';
			}
			url += '_rt=' + DP_REQUEST_TOKEN;

			options.url = url;

			// Auto-retry with network errors

			options.numTries    = originalOptions.numTries || 3;
			options.retryCodes  = originalOptions.retryCodes || [500, 502, 503];
			options.tryNum      = originalOptions.tryNum || 1;

			if (window.DP_DEBUG) {
				options.retryCodes = [];
			}

			if (typeof originalOptions.numTries != 'undefined') {
				options.numTries = originalOptions.numTries;
			}

			if (options.numTries > 1 && options.tryNum == 1) {
				if (!originalOptions.error) {
					options.realError = function() {};
				} else {
					if (originalOptions.context) {
						options.realError = function(innerJqXhr, textStatus, httpError) { originalOptions.error.call(originalOptions.context, innerJqXhr, textStatus, httpError); };
					} else {
						options.realError = originalOptions.error;
					}
				}

				options.error = function(innerJqXhr, textStatus, httpError) {
					var retryable = false;

					if (textStatus === "error" && options.retryCodes.indexOf(innerJqXhr.status) !== -1 && (!options.type || options.type.toUpperCase() == 'GET')) {
						retryable = true;
					}

					if (retryable && options.tryNum < options.numTries) {
						options.tryNum++;
						return $.ajax(options);
					} else {
						return options.realError(innerJqXhr, textStatus, httpError);
					}
				};
			}

			return options;
		});

		if (typeof ZeroClipboard != "undefined") {
			ZeroClipboard.setDefaults({
				moviePath: "{{ asset('vendor/ZeroClipboard/ZeroClipboard.swf') }}"
			});
		}

		if (DP_IS_DOMDUMP_VIEW) {
			return;
		}

		if (!window.DESKPRO_DATA_REGISTRY) {
			window.setTimeout(function() {
				window.location.reload(false);
			}, 1000);
			return;
		}

		{% if not app.user.timezone or app.user.timezone == 'UTC' %}
			{# When we have a UTC timezone and the time is wrong, then its a default and we should guess #}
			if (DESKPRO_TIME_OUT_OF_SYNC) {
				var detected = jstz.determine();
				console.log("Detected Timezone: %o", detected.name());
				if (detected.name()) {
					$.ajax({
						url: BASE_URL + 'agent/settings/profile/update-timezone.json',
						type: 'POST',
						dataType: 'json',
						data: { timezone: detected.name() },
						success: function() {
							window.location.reload(false);
						}
					});

					return;
				}
			}
		{% endif %}

		if (DP_DEBUG) {
			DpErrorLog.saveUrl = null;
		} else {
			DpErrorLog.saveUrl = '{{ app.request.getBaseUrl() }}/dp/log-js-error.json';
		}
		DpErrorLog.init();

		$('pane_list_content').css('display', '');
		$('pane_content').css('display', '');

		window.DeskPRO_Window = new DeskPRO.Agent.Window({
			messageChanneler: {
				ajaxMessagesUrl: BASE_PATH + 'get_messages.php',
				lastMessageId: {{last_message_id}}
			},
			faviconCount: {% if app.user.getPref('agent.ui.favicon_count') %}'{{ app.user.getPref('agent.ui.favicon_count') }}'{% else %}false{% endif %},
			desktopNotifications: {% if app.user.getPref('agent.ui.desktop_notifications') %}'{{ app.user.getPref('agent.ui.desktop_notifications') }}'{% else %}false{% endif %}
		});

		{% if app.user.getPref('agent.hide_claimed_chat', false) %}
			DP_USERCHAT_HIDE_CLAIMED_CHAT = true;
		{% else %}
			DP_USERCHAT_HIDE_CLAIMED_CHAT = false;
		{% endif %}

		DP_POLLER_INTERVAL = 5000;
		DP_POLLER_INTERVAL_FAST = 2000;

		{% if constant('DP_DEBUG') %}
			window.DeskPRO_Window.DEBUG = {
				disableSectionHandlers: {% if js_debug.disableSectionHandlers %}true{% else %}false{% endif %},
				noAutoLoadList: {% if js_debug.noAutoLoadList%}true{% else %}false{% endif %},
				enableSectionHandlers: {% if js_debug.enableSectionHandlers %}{{ js_debug.enableSectionHandlers|json_encode|raw }}{% else %}false{% endif %},
				logClientMessages: {% if js_debug.logClientMessages %}true{% else %}false{% endif %},
				disableUrlFragments: {% if js_debug.disableUrlFragments%}true{% else %}false{% endif %}
			};

			{% if js_debug.pollerInterval %}
				DP_POLLER_INTERVAL = {{ js_debug.pollerInterval }};
			{% endif %}
		{% endif %}

		window.DeskPRO_Window.initPage();

		{% if js_debug.autoLoadRoutes %}
			{% for i in js_debug.autoLoadRoutes %}
				window.DeskPRO_Window.runPageRoute('{{i[0]}}:{{ path(i[1], i[2]) }}');
			{% endfor %}
		{% endif %}

		{% for convo in open_chats %}
			window.DeskPRO_Window.runPageRoute('page:{{ path('agent_userchat_view', {'conversation_id': convo.id}) }}', {noToggle:true});
		{% endfor %}
	};
</script>
