<div class="panel panel-fill indent">
	<div class="panel-body">
		<div class="form-group">
			<div class="col-lg-3">
				<h3>Title *</h3>
			</div>
			<div class="col-lg-9">
				<input type="text" class="form-control" name="title" ng-model="EditCtrl.form.title"
					   style="width: 50%;" required autofocus>
			</div>
		</div>

		<div class="form-group">
			<div class="col-lg-3">
				<h3>Note / Description *</h3>
			</div>
			<div class="col-lg-9">
				<input type="text" class="form-control" name="note" ng-model="EditCtrl.form.note"
					   style="width: 50%;" required>
			</div>
		</div>

		<div class="form-group">
			<div class="col-lg-3">
				<h3>Enabled</h3>
			</div>
			<div class="col-lg-9">
				<input
					dp-slider-switch
					ng-model="EditCtrl.form.is_enabled"
				/>
			</div>
		</div>
	</div>
</div>