<div class="dp-layout-app with-layout-appalt">
	<div class="dp-layout-appalt">{% block alt_content %}{% endblock %}</div>
	<div class="dp-layout-appbody">
		<div class="dp-layout-loading" ng-show="state_loading || $parent.state_loading"><i></i></div>
		<div class="ng-hide dp-layout-fullpage" ng-hide="state_loading || $parent.state_loading">
			<div class="dp-pane">
				{% block fillpage_content %}{% endblock %}
			</div>
		</div>
	</div>
</div>s