<div class="dp-layout-loading" ng-show="state_loading || $parent.state_loading"><i></i></div>
<div class="ng-hide dp-pane" ng-hide="state_loading || $parent.state_loading">
	{% block editpane_content %}{% endblock %}
</div>