<div class="panel panel-innertable">
	<nav class="dp-tabletabs">
		<ul>
			<li class="active" dp-tab-btn="main.othernotifs.chat"><a href="#">Chat</a></li>
			<li dp-tab-btn="main.othernotifs.task"><a href="#">Tasks</a></li>
			<li dp-tab-btn="main.othernotifs.twitter"><a href="#">Tweets</a></li>
			<li dp-tab-btn="main.othernotifs.feedback"><a href="#">Feedback</a></li>
			<li dp-tab-btn="main.othernotifs.publish"><a href="#">Publish</a></li>
			<li dp-tab-btn="main.othernotifs.crm"><a href="#">CRM</a></li>
			<li dp-tab-btn="main.othernotifs.account"><a href="#">Account</a></li>
		</ul>
	</nav>

	{###################################################################################################################}
	{# Macro #}

	{% macro pref_section(tabname, table) %}
		<div class="dp-tabletabs-contentwrap" dp-tab-body="main.othernotifs.{{ tabname }}">
			<table class="table table-hover notify-pref-table">
				<thead>
					<tr>
						<th class="pref-title">&nbsp;</th>
						<th class="pref-col" ng-repeat="col in {{ table }}.columns">
							{{ ng_var('col.title') }}
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="row in {{ table }}.rows">
						<td class="pref-title">
							{{ ng_var('row.title') }}
						</td>
						<td ng-repeat="col in row.cols" class="pref-col">
							<button dp-toggle-switch ng-model="col.value"></button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	{% endmacro %}

	{###################################################################################################################}
	{# Render tabs #}

	{{ _self.pref_section('chat',      'EditCtrl.notif_prefs.subs.chat') }}
	{{ _self.pref_section('task',      'EditCtrl.notif_prefs.subs.task') }}
	{{ _self.pref_section('twitter',   'EditCtrl.notif_prefs.subs.twitter') }}
	{{ _self.pref_section('feedback',  'EditCtrl.notif_prefs.subs.feedback') }}
	{{ _self.pref_section('publish',   'EditCtrl.notif_prefs.subs.publish') }}
	{{ _self.pref_section('crm',       'EditCtrl.notif_prefs.subs.crm') }}
	{{ _self.pref_section('account',   'EditCtrl.notif_prefs.subs.account') }}
</div>