{% extends 'AdminInterfaceBundle:Layout:widget-modal.html.twig' %}
{% block modal_title %}
	<h4 class="modal-title">Delete</h4>
{% endblock %}
{% block modal_body %}
	<p>
		Are you sure you want to delete this sendmail source? The sendmail source and its process log will be permanently deleted.
	</p>
{% endblock %}
{% block modal_footer %}
	<div ng-hide="is_loading">
		<button class="btn btn-primary" ng-click="doDelete()"><i class="fa fa-trash-o"></i> Confirm Delete</button>
	</div>
	<div ng-show="is_loading">
		<i class="spinner-flat"></i>
	</div>
{% endblock %}