{% import 'AgentBundle:Common:optionbox-macros.html.twig' as optionbox %}
<script>
pageMeta.fragmentClass = 'DeskPRO.Agent.PageFragment.Page.FeedbackView';
pageMeta.title = {{feedback.title|json_encode|raw}};
pageMeta.feedback_id = {{feedback.id}};
pageMeta.url_fragment  = '{{ url_fragment('agent_feedback_view', {'feedback_id': feedback.id}) }}';
pageMeta.obj_code = 'feedback_{{ feedback.id }}';

pageMeta.permalink = '{{ feedback.permalink }}';
pageMeta.labelsSaveUrl = '{{ path('agent_feedback_ajax_labels_save', {'feedback_id': feedback.id}) }}';

pageMeta.canEdit   = {% if not perms.can_edit %}false{% else %}true{% endif %};
pageMeta.canDelete = {% if not perms.can_delete %}false{% else %}true{% endif %};

{% if feedback.hidden_status == 'validating' %}
pageMeta.isValidating = true;
{% endif %}

{% set baseId = el_uid() %}
pageMeta.baseId = '{{ baseId }}';
</script>
<div class="layout-content full-page page-feedback-view {% if not perms.can_edit %}perm-no-edit{% endif %} {% if not perms.can_delete %}perm-no-delete{% endif %}">
<div class="dp-page-content">
<div class="delete-notice" {% if feedback.status_code != "hidden.deleted" %}style="display: none;"{% endif %}>
	{{ phrase('agent.feedback.feedback_deleted') }} <button class="clean-gray xxx-small undelete">{{ phrase('agent.general.undelete') }}</button>
</div>

<div class="spam-notice" {% if feedback.status_code != "hidden.spam" %}style="display: none;"{% endif %}>
	{{ phrase('agent.general.record_marked_spam') }} <button class="clean-gray xxx-small unspam">{{ phrase('agent.tickets.status_closed') }}</button>
</div>

{% if feedback.status_code == "hidden.validating" %}
	{% include 'AgentBundle:Publish:view-approve-header.html.twig' %}
{% endif %}

<header class="page-header">
	<h4 class="id-number">#{{ feedback.id }}</h4>
	<h1>
		<span id="{{baseId}}_showname">{{ feedback.title }}</span>
		<span id="{{baseId}}_editname" style="display: none"><input type="text" name="name" value="{{ feedback.title }}" /></span>
		<span id="{{baseId}}_editname_start" class="edit-name-gear"></span>
		<a id="{{baseId}}_editname_end" class="edit-name-save clean-white" style="display: none">{{ phrase('agent.general.done') }}</a>
	</h1>
	<div class="labels-line">
		<input
			type="hidden"
			id="{{baseId}}_labels_input"
			class="dpe_select dpe_select_noborder"
			data-select-width="auto"
			data-placeholder="Add a label"
			value="{% for label in feedback.labels %}{{ label.label }},{% endfor %}"
		/>
	</div>
	<br class="clear" />
	<div class="meta-line flat">
		<div style="float:left;position: relative;top:1px;">
			<select name="status" id="{{baseId}}_status">
				<option value="new" {% if feedback.status_code == 'new' %}selected="selected"{% endif %}>{{ phrase('agent.feedback.status_new') }}</option>
				<optgroup label="{{ phrase('agent.feedback.status_active') }}">
					{% for cat in active_status_cats %}
						<option value="active.{{cat.id}}" {% if feedback.status_code == 'active.' ~ cat.id %}selected="selected"{% endif %}>{{ cat.title }}</option>
					{% endfor %}
				</optgroup>
				<optgroup label="{{ phrase('agent.tickets.status_closed') }}">
					{% for cat in closed_status_cats %}
						<option value="closed.{{cat.id}}" {% if feedback.status_code == 'closed.' ~ cat.id %}selected="selected"{% endif %}>{{ cat.title }}</option>
					{% endfor %}
				</optgroup>
			</select>
		</div>
		<div class="category" id="{{baseId}}_cat_trigger"><span>{{ phrase('agent.general.type') }}: <span id="{{baseId}}_cat_label">{{ feedback.category.full_title }}</span></span></div>
	</div>
	<br class="clear" />
</header>

<div class="profile-box-container">
	<header>
		<h4>{{ phrase('agent.general.properties') }}</h4>
	</header>
	<section class="description-area">
		<dl class="info-list">

			<dt>URL Slug</dt>
			<dd>
				<span id="{{ baseId }}_slug">{{ feedback.slug }}</span>
				<button class="clean-white" id="{{ baseId }}_editslug">Edit Slug</button>
			</dd>

			<dt>{{ phrase('agent.general.votes') }}:</dt>
			<dd>
				<span class="link-look who-voted-trigger">
                    {% set phrase_part %}
                    <span id="{{baseId}}_num_votes">{{ feedback.num_ratings }}</span>
                    {% endset %}
                    {{ phrase('agent.feedback.count_votes', {'display_count':phrase_part,'count':feedback.num_ratings}, true) }}
                </span>
				<button class="clean-gray xxx-small tipped {% if my_vote %}radio-on{% endif %}" title="{{ phrase('agent.feedback.vote_for_this_feedback') }}" id="{{baseId}}_my_vote">+1</button>
			</dd>

			<dt>{{ phrase('agent.general.author') }}:</dt>
			<dd>
				{% for author in feedback.authors %}
					<a class="as-popover dp-btn dp-btn-small" data-route="person:{{ path('agent_people_view', {'person_id': author.id}) }}">
						<span class="text" style="background: url({{ author.getPictureUrl(15) }}) no-repeat 0 50%; padding-left: 18px;">
							{{ author.getNameWithTitle() }}
							({{ author.primary_email_address }})
						</span>
					</a>
				{% endfor %}
			</dd>
		</dl>

		{% if custom_fields|length %}
			<dl class="info-list" id="{{baseId}}_custom_fields_rendered">
				{% include 'AgentBundle:Feedback:view-customfields-rendered-rows.html.twig' %}
			</dl>
			<dl class="info-list" id="{{baseId}}_custom_fields_editable" style="display: none">
				{% include 'AgentBundle:Feedback:view-customfields-edit-rows.html.twig' %}
			</dl>
		{% endif %}

		<div class="controls" id="{{baseId}}_properties_controls">
			<div class="showing-editing-fields" style="display: none">
				<button class="clean-white save-fields-trigger"><span>{{ phrase('agent.general.save') }}</span></button>
			</div>
			<div class="showing-rendered-fields" id="{{baseId}}_action_buttons">
				{% if custom_fields|length %}
					<button class="clean-white edit-fields-trigger noedit-hide"><span>{{ phrase('agent.general.edit_properties') }}</span></button>
				{% endif %}
				<button class="clean-white delete delete-type nodelete-hide" {% if feedback.status_code == "hidden.deleted" %}style="display:none"{% endif %}>{{ phrase('agent.general.delete') }}</button>
				<button class="clean-white spam delete-type noedit-hide" {% if feedback.status_code == "hidden.spam" %}style="display:none"{% endif %}>{{ phrase('agent.general.mark_spam') }}</button>
				<span class="merge menu-fitted noedit-hide" data-menu-button="> a"><a class="clean-white arrow">{{ phrase('agent.general.merge') }} <em></em></a></span>
				<button class="clean-white permalink">{{ phrase('agent.general.copy_permalink') }}</button>
				<button class="clean-white view-user-interface">{{ phrase('agent.general.view_in_user_interface') }}</button>
			</div>
		</div>

		<ul id="{{baseId}}_merge_menu" style="display: none;">
			<li class="elm no-choice">{{ phrase('agent.feedback.merge_howto') }}</li>
		</ul>
	</section>
</div>

<div class="profile-box-container reply-box-wrap">
	<header>
		<nav id="{{baseId}}_bodytabs">
			<ul>
				<li class="tab-trigger" data-tab-for="#{{baseId}}_content_tab">{{ phrase('agent.general.description') }}</li>
				<li class="tab-trigger" data-tab-for="#{{baseId}}_comments_tab">{{ phrase('agent.general.comments') }} (<span id="{{baseId}}_count_comments">{{feedback_comments|length|default(0)}}</span>)</li>
				<li class="tab-trigger" data-tab-for="#{{baseId}}_revs">{{ phrase('agent.general.label_revisions') }} (<span id="{{baseId}}_count_revs">{{feedback.revisions|length|default(0)}}</span>)</li>
				<li class="tab-trigger" data-tab-for="#{{baseId}}_related_content">{{ phrase('agent.general.related_content') }} (<span id="{{baseId}}_count_related">0</span>)</li>
				<li class="tab-trigger" data-tab-for="#{{baseId}}_searchtab">{{ phrase('agent.general.search') }}</li>
			</ul>
		</nav>
	</header>
	<section>

		{# Tab Contents #}
		<div id="{{baseId}}_tab_contents">
			{# Tab: Content #}
			<div id="{{baseId}}_content_tab" class="deskpro-tab-item content-tab on" style="display: block">
				<nav class="sub-box-nav noedit-hide">
					<ul class="option-buttons right" id="{{baseId}}_content_edit_btns">
						<li class="kb-editor-edit edit" id="{{baseId}}_edit_btn"><span>{{ phrase('agent.general.ucfirst_edit') }}</span></li>
						<li class="editor-save-trigger save" id="{{baseId}}_save_btn"><span>{{ phrase('agent.general.save') }}</span></li>
						<li class="editor-cancel-trigger cancel" id="{{baseId}}_cancel_btn"><span>{{ phrase('agent.general.cancel') }}</span></li>
					</ul>
				</nav>
				<div id="{{baseId}}_content_ed" class="content-tab-item">
				{% include 'AgentBundle:Feedback:view-content-tab.html.twig' %}
				</div>
			</div>
			{# /Tab: Content #}

			{# Tab: Comments #}
			<div id="{{baseId}}_comments_tab" class="deskpro-tab-item content-tab-item comments-tab">
				<div class="feedback-comments">
					<div class="full-tab-content">
						<div class="messages-wrap" id="{{baseId}}_comments_wrap">
							{% for comment in feedback_comments %}
								{% set comment_num = loop.index %}
								{% include 'AgentBundle:Feedback:view-comment.html.twig' %}
							{% endfor %}
						</div>
					</div>

					<div class="messages-wrap new-note">
						<article
							class="content-message agent-message"
							data-comment-id="{{comment.id}}"
							data-content-type="{{ comment.object_content_type }}"
						>
							<div class="avatar">
								<img src="{{ app.user.getPictureUrl(40) }}" alt="" width="40" height="40" />
							</div>
							<div class="content">
								<header>
									<h4>{{ phrase('agent.general.new_comment') }}</h4>
								</header>
								<div class="body-text">
									<textarea style="width:99%; height: 80px;"></textarea>
								</div>
								<div class="footer-text">
									<div class="loading-off">
										<button class="clean-white">{{ phrase('agent.general.add_comment') }}</button>
									</div>
									<div class="loading-on" style="display:none">
										{{ phrase('agent.general.saving') }}
									</div>
								</div>
							</div>
						</article>
					</div>
				</div>
			</div>
			{# /Tab: Comments #}

			{# Tab: Revisions #}
			<div id="{{baseId}}_revs" class="deskpro-tab-item content-tab-item revisions-tab">
				{% include 'AgentBundle:Feedback:view-revisions-tab.html.twig' %}
			</div>
			{# /Tab: Revisions #}

			{# Tab: Related #}
			<div id="{{baseId}}_related_content" class="deskpro-tab-item content-tab-item related-content-tab">
				{% include 'AgentBundle:Common:content-related-list.html.twig' %}
			</div>
			{# /Tab: Related #}

			{# Tab: Search #}
			<div id="{{baseId}}_searchtab" class="deskpro-tab-item search-tab">
				<section class="description-area sticky-search-words">
					<dl class="info-list">
						<dt class="type-labels">{{ phrase('agent.publish.sticky_words_title') }}</dt>
						<dd class="noedit-tags">
							<input type="text" value="{% for label in sticky_search_words %}{{label}},{% endfor %}" id="{{baseId}}_stickysearch_input" />
							<div class="explain">
								{{ phrase('agent.publish.search_sticky_words_explain') }}
							</div>
						</dd>
					</dl>
				</section>

				<br />

				{% include 'AgentBundle:Publish:rated-searches.html.twig' %}
			</div>
			{# /Tab: Search #}
		</div>
		{# /Tab Contents #}
	</section>
</div>

<div class="inline-editable" style="display:none">
	<div class="title">
		<input type="text" name="title" value="{{ feedback.title }}"/>
		<input type="hidden" name="action" value="title" />
	</div>
</div>

{{ optionbox.category_ob(feedback_categories, phrase('agent.general.type'), phrase('agent.general.apply'), {'id': baseId ~ '_cat_ob'}) }}

{# scroll containers #}
</div>
</div>
{# /scroll containers #}
