<div class="reports_agent_activity_section">
    {% if agents|length %}
    <table class="activity_table table table-bordered" style="width: auto;">
        <thead>
            <tr>
                <th>Hour</th>
                {% for agent in agents %}
                <th>{{ agent.name }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for hour in range(0,23) %}
            <tr>
                <td class="hour_cell alt dp-id-col">{{ '%02d'|format(hour) }}:00</td>
                {% for agent in agents %}
                <td>
                    {% set hour_index = '_' ~ hour %}
                    {% if activity[agent.id][hour_index] is defined %}
                        {% for minute, logs in activity[agent.id][hour_index] %}
                            {% set minute_display = '%02d'|format(minute) %}
                            {% for row in logs %}
                                {% set type = row.type %}
                                {% set log = row.data %}
                                {% if type == 'ticket' %}
                                    {% set action_text %}
                                    {% include 'ReportsInterfaceBundle:AgentActivity:ticket-log-actiontext.html.twig' %}
                                    {% endset %}
                                    {% if action_text|trim() is not empty %}
                                    <div class="activity activity_type_{{ type }}"><div class="type_icon"></div>
                                    ({{ minute_display }}) {{ action_text }} in
                                    <a href="{{ app.request.getBaseUrl() }}/agent/#app.tickets,t:{{log.ticket.id}}">{{ log.ticket.subject }}</a>
                                    </div>
                                    {% endif %}
                                {% else %}
                                    <div class="activity activity_type_{{ type }}"><div class="type_icon"></div>
                                    {% if type == 'chat' %}
                                        ({{ minute_display }}) Sent {{ row.count }} messages in chat
                                        #<a href="{{ app.request.getBaseUrl() }}/agent/#app.userchat,c:{{row.conversation.id}}">{{row.conversation.id}}</a>
                                    {% elseif type == 'news' %}
                                        ({{ minute_display }}) Created news revision in
                                        <a href="{{ app.request.getBaseUrl() }}/agent/#app.publish,n:{{log.id}}">{{ log.title }}</a>
                                    {% elseif type == 'article' %}
                                        ({{ minute_display }}) Created article revision in
                                        <a href="{{ app.request.getBaseUrl() }}/agent/#app.publish,a:{{log.id}}">{{ log.title }}</a>
                                    {% elseif type == 'download' %}
                                        ({{ minute_display }}) Created download revision in
                                        <a href="{{ app.request.getBaseUrl() }}/agent/#app.publish,d:{{log.id}}">{{ log.title }}</a>
                                    {% elseif type == 'feedback' %}
                                        ({{ minute_display }}) Created feedback revision in
                                        <a href="{{ app.request.getBaseUrl() }}/agent/#app.feedback,a:{{log.id}}">{{ log.title }}</a>
                                    {% endif %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>No activity found for this date.</p>
    {% endif %}
    <div class="reports-popup-page-overlay hidden"></div>
</div>