{% if log.action_type == 'free' %}
    {% if hide_unknown %}{% else %}
        {{ log.details.message }}
    {% endif %}
{% elseif log.action_type == 'changed_agent' %}
    Changed agent
{% elseif log.action_type == 'participant_added' %}
    <span class="type">{{ phrase('agent.tickets.participant_added') }}</span>: <span class="new-val">{{log.details.name}}</span>
{% elseif log.action_type == 'participant_removed' %}
    <span class="type">{{ phrase('agent.tickets.participant_removed') }}</span>: <span class="old-val">{{log.details.name}}</span>
{% elseif log.action_type == 'ticket_created' %}
    {{ phrase('agent.general.ticket') }} <span class="new-val">#{{log.details.ticket_id}}</span> {{ phrase('agent.general.ticket') }}
{% elseif log.action_type == 'subject' %}
    {{ phrase('agent.tickets.subject_changed_from') }} <span class="old-val">{{ log.details.old_subject }}</span> {{ phrase('agent.tickets.changed_to') }} <span class="new-val">{{ log.details.new_subject }}</span>
{% elseif log.action_type == 'ticket_split' %}
    {{ phrase('agent.tickets.ticket_split_from') }} <span class="old-val">#{{log.details.from_ticket_id}}</span>
{% elseif log.action_type == 'ticket_split_to' %}
    {{ phrase('agent.tickets.ticket_split_to') }} <span class="old-val">ID {{log.details.to_ticket_id}}</span> ({{ phrase('agent.tickets.x_messages_moved', {'count': log.details.messages_moved|default(0)}) }})
{% elseif log.action_type == 'merged' %}
    {{ phrase('agent.general.ticket') }} <span class="old-val">#{{log.id_before}}</span> {{ phrase('agent.tickets.merged_into_this') }}
{% elseif log.action_type == 'merged_message' %}
    {{ phrase('agent.general.message') }} <span class="old-val">#{{log.details.message_id}}</span> {{ phrase('agent.tickets.into_this_from_ticket', {'id':log.details.old_ticket_id}) }}
{% elseif log.action_type == 'merged_attach' %}
    {{ phrase('agent.tickets.attachment') }} <span class="old-val">#{{log.id_object}}</span> {{ phrase('agent.tickets.into_this_from_ticket', {'id':log.id_before}) }}
{% elseif log.action_type == 'changed_category' %}
    <span class="type">{{ phrase('agent.general.category') }}</span> {{ phrase('agent.tickets.changed_from') }}
    <span class="old-val">{{log.details.old_category_title|default(phrase('agent.general.none'))}}</span> {{ phrase('agent.tickets.changed_to') }} <span class="new-val">{{log.details.new_category_title|default(phrase('agent.general.department'))}}</span>
{% elseif log.action_type == 'changed_department' %}
    <span class="type">{{ phrase('agent.general.department') }}</span> {{ phrase('agent.tickets.changed_from') }}
    <span class="old-val">{{log.details.old_department_title|default(phrase('agent.general.none'))}}</span> {{ phrase('agent.tickets.changed_to') }} <span class="new-val">{{log.details.new_department_title|default(phrase('agent.general.organization'))}}</span>
{% elseif log.action_type == 'changed_organization' %}
    <span class="type">{{ phrase('agent.general.organization') }}</span> {{ phrase('agent.tickets.changed_from') }}
    <span class="old-val">{{log.details.old_org_name|default(phrase('agent.general.none'))}}</span> {{ phrase('agent.tickets.changed_to') }} <span class="new-val">{{log.details.new_org_name|default(phrase('agent.general.ticket_triggers'))}}</span>
{% elseif log.action_type == 'changed_person' %}
    <span class="type">{{ phrase('admin.api.user_owner') }}</span> {{ phrase('agent.tickets.changed_from') }}
    <span class="old-val">#{{log.details.old_person_id}} {{old_person_name}}</span> {{ phrase('agent.tickets.changed_to') }} <span class="new-val">#{{log.details.new_person_id}} {{new_person_name}}</span>
{% elseif log.action_type == 'executed_triggers' %}
    {#  #}
{% elseif log.action_type == 'message_created' %}
    Replied
{% elseif log.action_type == 'message_removed' %}
    {% if log.details.is_agent_note %}
		<span class="type">Note deleted</span>
	{% else %}
		<span class="type">Message deleted</span>
	{% endif %}
	<span class="old-val">ID {{log.details.message_id}}</span>
	{% if log.details.is_agent_message %}
		(written by agent {{ log.details.person_name }})
	{% else %}
		(written by {{ log.details.person_name }}, ID {{ log.details.person_id }})
	{% endif %}
{% elseif log.action_type == 'changed_priority' %}
    <span class="type">{{ phrase('agent.general.priority') }}</span> {{ phrase('agent.tickets.changed_from') }}
    <span class="old-val">{{log.details.old_priority_title|default(phrase('agent.general.none'))}}</span> {{ phrase('agent.tickets.changed_to') }} <span class="new-val">{{log.details.new_priority_title|default(phrase('agent.general.workflow'))}}</span>
{% elseif log.action_type == 'changed_workflow' %}
    <span class="type">{{ phrase('agent.general.workflow') }}</span> {{ phrase('agent.tickets.changed_from') }}
    <span class="old-val">{{log.details.old_workflow_title|default(phrase('agent.general.none'))}}</span> {{ phrase('agent.tickets.changed_to') }} <span class="new-val">{{log.details.new_workflow_title|default(phrase('agent.general.urgency'))}}</span>
{% elseif log.action_type == 'changed_urgency' %}
    <span class="type">{{ phrase('agent.general.urgency') }}</span> {{ phrase('agent.tickets.changed_from') }}
    <span class="old-val">{{log.details.old_urgency}}</span> {{ phrase('agent.tickets.changed_from') }} <span class="new-val">{{log.details.new_urgency}}</span>
{% elseif log.action_type == 'changed_product' %}
    <span class="type">{{ phrase('agent.general.product') }}</span> {{ phrase('agent.tickets.changed_from') }}
    <span class="old-val">{{log.details.old_product_title|default(phrase('agent.general.none'))}}</span> {{ phrase('agent.tickets.changed_to') }} <span class="new-val">{{log.details.new_product_title|default(phrase('agent.general.status'))}}</span>
{% elseif log.action_type == 'attach_added' %}
    <span class="type">{{ phrase('agent.tickets.new_attachment') }}</span> <span class="new-val">#{{log.details.attach_id}} {{ log.details.filename }}</span>
{% elseif log.action_type == 'attach_removed' %}
	<span class="type">{{ phrase('agent.tickets.attachment_deleted') }}</span> <span class="old-val">ID {{log.details.old_attach_id}} {{ log.details.filename }}</span>
	{% if log.details.message_id %}
		from message <span class="old-val">ID {{log.details.message_id}}</span>
		{% if log.details.message_person_name %}written by {{ log.details.message_person_name }}{% endif %}
	{% endif %}
{% elseif log.action_type == 'changed_status' %}
    Changed status
{% elseif log.action_type == 'changed_custom_field' %}
    <span class="type">{{ log.details.field_name }}</span> {{ phrase('agent.tickets.changed_from') }}
    <span class="old-val">{{ log.details.value_before|default('(no value)') }}</span> {{ phrase('agent.tickets.changed_to') }} <span class="new-val">{{ log.details.value_after|default('(no value)') }}</span>
{% elseif not hide_unknown %}
    {{ log.action_type }}
{% else %}
{% endif %}