<header>
	<h1>Billing</h1>

	<p>
		Billing gives you access to reports on charges that agents have made to tickets.
		Billing reports include lists of charges and totals for charges per person, agent and organization.
	</p>
</header>
<article>
	<article>
		<p>Some other text...</p>
	</article>
</article>