{% extends 'ReportsInterfaceBundle:Layout:list.html.twig' %}
{% set list_class = 'report-builder' %}
{% block listpane_content %}

	<section class="dp-paneblock dp-listpane">
		<header>
			<h3>
				Billing Reports
			</h3>
		</header>
		<article>
			<ul class="dp-item-list">
				<li ng-repeat="report in ListCtrl.reports_list"
					dp-state-mark="billing.view.{{ ng_var('report.id') }}" data-id="{{ ng_var('report.id') }}">
					<dp-report-billing-select-box
							report-id="report.id"
							value-to-decorate="report.title"
							possible-values="ListCtrl.group_params">

					</dp-report-billing-select-box>
				</li>
			</ul>
		</article>
	</section>
{% endblock %}

{% block listpane_help %}
	{% include 'ReportsInterfaceBundle:Billing:help-page.html.twig' %}
{% endblock %}