{% extends 'BillingBundle::layout.html.twig' %}
{% block page %}

	<div class="content-table">
		<table width="100%">
			<thead>
				<tr>
					<th class="single-title" colspan="2">
						Your License
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="title" width="180">License ID</td>
					<td class="prop">{{ lic.getLicenseId() }}</td>
				</tr>
				{% if lic.get('org') %}
					<tr>
						<td class="title">Licensor</td>
						<td class="prop">{{ lic.get('org') }}</td>
					</tr>
				{% endif %}
				<tr>
					<td class="title">Expires</td>
					<td class="prop">
						{% if not is_expired %}
							Your license expires {% if expire_in_days and expire_in_days < 30 %}in {{ expire_in_days }} days{% endif %} on {{ lic.getExpireDate()|date('day', 'UTC') }}
						{% else %}
							Your license has expired
						{% endif %}
					</td>
				</tr>
				<tr>
					<td class="title">Agents</td>
					<td class="prop">
						{% if not lic.getMaxAgents() or lic.getMaxAgents() == 0 or lic.getMaxAgents() > 100 %}
							Unlimited
						{% else %}
							{{ lic.getMaxAgents() }}
						{% endif %}
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<br/>

	<h1>Contact DeskPRO</h1>
	<p>
		If you need to upgrade or renew your license, you must contact DeskPRO at <a href="mailto:sales@deskpro.com">sales@deskpro.com</a>
	</p>
{% endblock %}