<!DOCTYPE html>
<html ng-app id="upgrader">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>{{ phrase('adm.general.deskpro_admin_interface') }}</title>
	<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /><![endif]-->

	<link rel="stylesheet" href="{{ asset('app/bower_components/font-awesome/css/font-awesome.min.css') }}"/>
	<link rel="stylesheet" href="{{ asset('app/build/Admin/css/admin-style.css') }}"/>
</head>
<body>

<table class="layout_table" width="100%" height="100%" cellspacing="0" cellpadding="0">
	<tr>
		<td width="100%" height="100%" align="center" valign="center">
			<div ng-view class="main_content"></div>
		</td>
	</tr>
</table>

{{ ng_tpl('AdminInterfaceBundle:Upgrade:home.html.twig') }}
{{ ng_tpl('AdminInterfaceBundle:Upgrade:watch.html.twig') }}

<script type="text/javascript">
window.DP_ASSET_URL      = '{{ asset('') }}';
window.DP_BASE_URL       = '/{{ path('user')|trim('/') }}';
window.DP_BASE_API_URL   = '/{{ path('user')|ltrim('/') }}api';
window.DP_BASE_ADMIN_URL = '/{{ path('admin')|trim('/') }}';
window.DP_API_TOKEN      = '{{ api_token.getKeyString() }}';
window.DP_SESSION_ID     = '{{ session.session_code }}';
window.DP_REQUEST_TOKEN  = '{{ initial_request_token }}';
window.DP_PERSON_ID      = {{ app.user.id }};
window.DP_PERSON_EMAIL   = '{{ app.user.getPrimaryEmailAddress() }}';
window.DP_PERSON_LANG_ID = {{ app.user.language.id }};
window.DP_IS_DEBUG       = {% if app.isDebug() %}true{% else %}false{% endif %};
window.DP_IS_TESTING     = {% if app.isTesting() %}true{% else %}false{% endif %};
window.DP_USE_RJS_BUILD  = {% if (not app.isDebug() or app.getSetting('core.dev_use_rjs_build') and not app.getSetting('core.disable_rjs_build')) %}true{% else %}false{% endif %};
window.DP_BUILD_TIME     = {{ app.getBuildTime() }};
</script>

<script type="text/javascript">window.DP_INTERFACE_LOADER = 'AdminUpgradeLoad';</script>
<script	type="text/javascript" data-main="{{ asset('app/loader.js') }}?v={{ app.getBuildTime() }}" src="{{ asset('app/bower_components/requirejs/require.js') }}"></script>
</body>
</html>