{% set listpane_help %}{% block listpane_help %}{% endblock %}{% endset %}
{% if listpane_help %}<dp-help-page>{{ listpane_help }}</dp-help-page>{% endif %}
<div class="dp-layout-list">
	<div class="dp-layout-list-listpane" ng-show="state_loading || $parent.state_loading"><div class="dp-layout-loading"><i></i></div></div>
	{#<div class="dp-layout-list-editpane" ng-show="state_loading || $parent.state_loading"><div class="dp-layout-loading"><i></i></div></div>#}

	<div class="ng-hide dp-layout-list-listpane" ng-hide="state_loading || $parent.state_loading">
		<div class="dp-pane">{% block listpane_content %}{% endblock %}</div>
	</div>
	<div class="ng-hide dp-layout-list-editpane" ng-hide="state_loading || $parent.state_loading" ui-view></div>
</div>