<section class="dp-portal-simpleheader-editor">
	<div class="overlay-title">
		<span class="close-overlay close-trigger"></span>
		<h4>{{ phrase('admin.portal.edit_logo') }}</h4>
	</div>
	<div class="overlay-content">
		<div class="image">

			<strong>{{ phrase('admin.portal.upload_a_new_logo') }}</strong>
			<div style="padding: 8px 0;"><input type="file" class="file-upload" name="file-upload" /></div>
			<div class="files">
				<div class="upload-loading" style="display: none;"><i class="spinner-flat"></i></div>
				<div class="upload-result" style="display: none;"></div>
			</div>
			<div class="save-btn-wrap" style="display: none;">
				<button class="clean-white save-logo-trigger">{{ phrase('admin.portal.save_logo') }}</button>
			</div>
		</div>
		<div class="text" style="padding-top: 15px;">
			<strong>{{ phrase('admin.portal._or_just_enter_a_title_and_a') }}</strong>
			<div class="input-title"><input type="text" class="title" name="title" value="{{ app.getSetting('user.portal_header') }}" placeholder="{{ phrase('agent.general.title') }}" /></div>
			<div class="input-tagline" style="padding: 8px 0;"><input type="text" class="tagline" name="tagline" value="{{ app.getSetting('user.portal_tagline') }}" placeholder="{{ phrase('admin.general.tagline') }}" /></div>

			<div class="save-btn-wrap">
				<button class="clean-white save-text-trigger">{{ phrase('admin.portal.save_title_and_tagline') }}</button>
			</div>
		</div>
	</div>
</section>
