{% extends 'AdminInterfaceBundle:Layout:list-editpane.html.twig' %}
{% block editpane_content %}
	<form class="form-horizontal dp-form" role="form" name="form_props" ng-submit="EditCtrl.saveForm()">
		<section class="dp-paneblock dp-editpane">
			<article class="form-horizontal dp-form">
				<div class="panel panel-fill indent">
					<div class="panel-body">
						<div class="form-group">
							<div class="col-lg-3">
								<h3>Team Name</h3>
							</div>
							<div class="col-lg-9">
								<div class="inner-group">
									<input type="text" class="form-control" name="name" ng-model="EditCtrl.team.name" dp-server-validation="name.not_blank" style="width: 50%;" required />
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-lg-3">
								<h3>Members</h3>
							</div>
							<div class="col-lg-9">
								<ul class="checkbox-list" style="min-width: 250px">
									<li ng-repeat="agent in EditCtrl.agents">
										<label>
											<input type="checkbox" ng-model="agent.value" />
											<span class="agent-icon agent-icon-16x" ng-style="{'background-image': 'url(' + agent.picture_url_16 + ')'}"></span>
											<span>{{ ng_var('agent.display_name') }}</span>
											<a class="inline-edit-link" href="{{ ng_href('agents.agents.edit', '{id: agent.id}') }}"><i class="fa fa-pencil"></i><em>edit agent</em></a>
										</label>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</article>
			<footer>
				<div class="dp-content">
					<div class="text-danger ng-hide" ng-show="form_props.$attempted && form_props.$invalid">
						<p><strong>{{phrase('adm.general.please_correct_errors')}}</strong></p>
						<ul>
							<li ng-show="form_props.name.$error.required || form_props.name.$error.not_blank">Please enter a name</li>
						</ul>
					</div>

					<div class="dp-delete-control" ng-if="EditCtrl.team.id">
						<button class="btn btn-danger" ng-click="$event.preventDefault(); EditCtrl.showDelete();">Delete</button>
					</div>

					<div class="dp-btn-controls" ng-hide="form_props.$attempted && form_props.$invalid">
						<div dp-hide-spinning="form_saving">
							<button class="btn btn-primary" dp-submit-form>{{phrase('agent.general.save')}}</button>
						</div>
						<div dp-show-spinning="form_saving">
							<i class="spinner-flat"></i>
						</div>
					</div>
				</div>
			</footer>
		</section>
	</form>
	<div dp-register-message="saved_team">{{ ng_var('EditCtrl.team.name') }} was saved successfully</div>
	{{ ng_tpl('AdminInterfaceBundle:AgentTeams:delete-modal.html.twig') }}
{% endblock %}